<div class="swiper">
  <div id="example-slider" class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <article class="example">
          <img class="example__img"
               src="{{root}}assets/img/content/index/example-slide.png"
               srcset="{{root}}assets/img/content/index/example-slide@2x.png 2x, {{root}}assets/img/content/index/example-slide@3x.png 3x">
          <div class="example__content">
            <h1 class="example__title">«Поставка цветов из Эквадора в 70 магазинов Приморья за 3 дня»</h1>
            {{> info-link name="Как мы решили эту задачу"}}
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="example">
          <img class="example__img"
               src="{{root}}assets/img/content/index/example-slide.png"
               srcset="{{root}}assets/img/content/index/example-slide@2x.png 2x, {{root}}assets/img/content/index/example-slide@3x.png 3x">
          <div class="example__content">
            <h1 class="example__title">«Поставка цветов из Эквадора в 70 магазинов Приморья за 3 дня»</h1>
            {{> info-link name="Как мы решили эту задачу"}}
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="example">
          <img class="example__img"
               src="{{root}}assets/img/content/index/example-slide.png"
               srcset="{{root}}assets/img/content/index/example-slide@2x.png 2x, {{root}}assets/img/content/index/example-slide@3x.png 3x">
          <div class="example__content">
            <h1 class="example__title">«Поставка цветов из Эквадора в 70 магазинов Приморья за 3 дня»</h1>
            {{> info-link name="Как мы решили эту задачу"}}
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="example">
          <img class="example__img"
               src="{{root}}assets/img/content/index/example-slide.png"
               srcset="{{root}}assets/img/content/index/example-slide@2x.png 2x, {{root}}assets/img/content/index/example-slide@3x.png 3x">
          <div class="example__content">
            <h1 class="example__title">«Поставка цветов из Эквадора в 70 магазинов Приморья за 3 дня»</h1>
            {{> info-link name="Как мы решили эту задачу"}}
          </div>
        </article>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

</div>
