.account-media {
  $media-border: 1px solid #EAEAEA;

  position: relative;
  margin-bottom: 10px;
  padding: 20px 0;
  min-height: 125px;
  display: block;
  background-color: $white-color;
  box-sizing: border-box;
  text-decoration: none;

  @include media-breakpoint-up(sm) {
    padding-right: $container-padding-x * 2;
    padding-left: $container-padding-x * 2;
    border: $media-border;
    border-radius: 6px;

    @include hover {
      border-color: $primary-color;
    }
  }

  @include media-breakpoint-only(sm) {
    display: grid;
    grid-template-columns: 65px 1fr auto;
    grid-template-areas:
      "media-img media-title media-arrow"
      "media-img media-text media-arrow";
    grid-column-gap: 30px;
  }

  @include media-breakpoint-up(lg) {
    padding: 35px 40px 25px 50px;
    display: grid;
    grid-template-columns: 65px 1fr auto;
    grid-template-areas:
      "media-img media-title media-arrow"
      "media-img media-text media-arrow";
    grid-column-gap: 50px;
  }

  &::before {
    content: "";
    width: 18px;
    height: 18px;
    border: 1px solid $gray-color--down-11;
    border-left-color: transparent;
    border-bottom-color: transparent;
    grid-area: media-arrow;
    align-self: center;
    transform: rotate3d(0, 0, 1, 45deg);
    display: none;

    @include media-breakpoint-only(sm) {
      display: block;
    }

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -$container-padding-x;
    bottom: 0;
    right: -$container-padding-x;
    border-top: $media-border;
    border-bottom: $media-border;
    box-shadow: 0px 24px 54px rgba($black-color, 0.04);

    @include media-breakpoint-up(sm) {
      display: none;
    }

    @include hover {
      border-color: $primary-color;
    }
  }

  &__img {
    grid-area: media-img;
    justify-self: center;
    display: none;

    @include media-breakpoint-only(sm) {
      display: block;
    }

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  &__title {
    margin: 0;
    grid-area: media-title;
    font-family: $font-family;
    font-size: 22px;
    line-height: 1.2;
    color: $black-color;
  }

  &__text {
    grid-area: media-text;
    font-family: $font-family;
    font-size: 15px;
    line-height: 1.4;
    color: rgba($font-color, 0.8);
  }
}
