.accordion {
  $accordion-content-left: 25px;
  $accordion-content-right: 20px;

  &__header {
    padding: 0.75em $accordion-content-right 0.75em $accordion-content-left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-family--secondary;
    font-size: 22px;
    line-height: 1.25;
    color: $black-color;
    background-color: $primary-color;
    border-radius: $border-radius;
    cursor: pointer;
  }

  &__label {
    display: block;
    font-weight: 500;
  }

  &__label span {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
  }

  &__indicator {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: $white-color;
    border-radius: 50%;

    //&::before,
    //&::after {
    //  content: "";
    //}

    &::before {
      content: "\2795";
      position: absolute;
      top: 5px;
      left: 5px;
      font-family: $font-family--secondary;
      font-size: 8px;
      font-style: normal;
      color: $gray-dark-color;
    }

    //&::before {
    //  top: 6px;
    //  bottom: 6px;
    //  left: 49.95%;
    //  width: 1px;
    //}
    //
    //&::after {
    //  left: 6px;
    //  right: 6px;
    //  top: calc(50% - 1px);
    //  height: 1px;
    //}
  }

  &__content {
    padding-top: 20px;
    padding-bottom: 5px;
    //padding-right: $accordion-content-right;
    padding-left: $accordion-content-left;
  }
}
