.achievements {
  position: relative;
  margin-top: 40px;
  display: none;
  background-color: $primary-color;

  @include media-breakpoint-up(md) {
    display: block;
  }

  &__container {
    position: relative;
    padding: 20px 20px 25px 35px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 55px;
    align-items: center;
    grid-column: 1 / -1;

    @include media-breakpoint-up(xl) {
      @include container();

      grid-template-columns: 495px 1fr;
    }
  }

  &__item {
    padding: 10px 0;
    min-height: 165px;
    display: grid;
    grid-column-gap: 1fr;
    align-items: start;
    align-content: center;
    background-repeat: no-repeat;

    @include media-breakpoint-up(xl) {
      grid-template-columns: auto 1fr;
      grid-column-gap: 20px;
      //background-position-y: 50%;
    }

    &::before {
      content: attr(data-count);
      font-family: $font-family;
      font-size: 82px;
      line-height: 82px;
    }
  }

  &__item--work {
    background-image: url("work");
    background-size: 86px 94px;
    background-position: calc(100% - 25px) 20px;

    @include media-breakpoint-up(xl) {
      background-position-x: 20%;
    }
  }

  &__item--parcels {
    background-image: url("parcels");
    background-size: 77px 77px;
    background-position: calc(100% - 20px) 100%;

    @include media-breakpoint-up(xl) {
      background-position-x: 46%;
    }
  }

  &__text {
    margin: 0;
    font-family: $font-family--secondary;
    font-size: 24px;
    line-height: 32px;
  }
}
