.alert {
  display: flex;
  align-items: flex-start;
  font-family: $font-family--secondary;

  &--under-list {

    @include media-breakpoint-up(sm) {
      margin-left: $list-number--size + $list-number--gap-sm;
    }

    @include media-breakpoint-up(md) {
      margin-left: $list-number--size + $list-number--gap-md;
    }
  }

  &__text {
    margin-left: 1.3em;
    font-size: 16px;
    line-height: 1.3;

    @include media-breakpoint-up(md) {
      font-size: 18px;
    }
  }

  svg {
    margin: 0;
    flex-shrink: 0;
  }

}
