.area-selector {
  position: relative;
  display: inline-flex;
  align-items: center;

  &__input {
    display: none;
  }

  &__toggle {
    position: relative;
    padding-bottom: 10px;
    display: inline-flex;
    align-items: center;
    font-family: $font-family;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    background: none;
    border: none;
    cursor: pointer;
    transition: $menu-item-transition;

    @include hover {
      color: $black-color;
    }

    @include active {
      color: $black-color;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: -15px;
      width: 4px;
      height: 4px;
      border: 1px solid $gray-dark-color;
      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate3d(0, 0, 1, 45deg);
      transition: $menu-item-transition;

      @include hover {
        border-bottom-color: $black-color;
        border-right-color: $black-color;
      }

      @include active {
        border-bottom-color: $black-color;
        border-right-color: $black-color;
      }
    }

    @include focus {
      outline: none;
    }
  }

  &__toggle svg {
    position: relative;
    top: -2px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    display: none;
    stroke: rgba($black-color, 0.5);
    transition: $menu-item-transition;

    @include hover('.area-selector') {
      stroke: $black-color;
    }

    @include active('.area-selector') {
      stroke: $black-color;
    }

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }


  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    padding: 35px 20px 20px 20px;
    display: none;
    opacity: 0;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 25px;
    border-top: 3px solid $primary-color;
    background-color: $white-color;
    border-radius: 2px;
    box-shadow: 0px 5px 40px rgba($black-color, 0.05);

    .area-selector:hover > & {
      display: grid;
      @include menu-hover();
    }

    @include media-breakpoint-up(xl) {
      padding: 30px 90px 25px 45px;
      grid-column-gap: 30px;
    }
  }

  &__column {
    &:first-child {
      grid-column: 1 / 2;
    }

    &:last-child {
      grid-column: 2 / -1;
    }
  }

  &__title {
    margin: 0 0 10px 0;
    font-family: $font-family;
    font-size: 18px;
    line-height: 26px;
    color: rgba($font-color, 0.4);
    font-weight: 500;
    white-space: nowrap;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    white-space: nowrap;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    position: relative;
    font-family: $font-family;
    font-size: 15px;
    line-height: 21px;
    color: $font-color;
    text-decoration: none;
    white-space: nowrap;

    @include hover {
      color: $black-color;
    }

    @include media-breakpoint-up(xl) {
      font-size: 16px;
      line-height: 22px;
    }

    &--more {
      margin-left: 10px;
      color: $blue-color;

      @include hover {
        color: $blue-light-color;
      }


      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 1px;
        width: 100%;
        border-top: 1px dashed $blue-color;

        @include hover {
          border-color: $blue-light-color;
        }
      }
    }
  }
}
