.area-selector {
  position: relative;
  display: flex;
  align-items: center;

  &__input {
    display: none;
  }

  &__toggle {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-family: $font-family;
    font-size: 15px;
    line-height: 24px;
    color: #808080;
    background: none;
    border: none;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: -12px;
      width: 4px;
      height: 4px;
      border: 1px solid #808080;
      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &:focus {
      outline: none;
    }
  }

  &__toggle span {
    margin-left: 8px;
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 10;
    padding: 35px 85px 20px 45px;
    display: none;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 30px;
    border-top: 3px solid $primary-color;
    background-color: $white-color;
    border-radius: 2px;
    box-shadow: 0px 5px 40px rgba($black-color, 0.05);

    .area-selector__input:checked ~ & {
      display: grid;
    }
  }

  &__column {
    &:first-child {
      grid-column: 1 / 2;
    }

    &:last-child {
      grid-column: 2 / -1;
    }
  }

  &__title {
    margin: 0 0 15px 0;
    font-family: $font-family;
    font-size: 18px;
    color: rgba($gray-color, 0.4);
    line-height: 26px;
    font-weight: 500;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__link {
    position: relative;
    font-family: $font-family;
    font-size: 16px;
    line-height: 22px;
    color: $gray-color;
    text-decoration: none;
    white-space: nowrap;

    &--more {
      margin-left: 10px;
      color: $blue-color;

      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 1px;
        width: 100%;
        border-top: 1px dashed $blue-color;
      }
    }
  }
}
