.calc-steps {
    $item-size: 50px;

    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    grid-column-gap: 10px;
    justify-content: space-between;
    list-style: none;
    counter-reset: point;

    &__item {
        position: relative;
        display: grid;
        grid-template-columns: $item-size 1fr;
        align-items: center;
        grid-column-gap: 10px;
        grid-row-gap: 15px;


        &:not(:last-child)::after {
            content: "";
            height: 7px;
            background-color: #F2F2F2;
        }
    }

    &__point {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $item-size;
        height: $item-size;
        font-family: $font-family;
        font-size: 24px;
        line-height: 1;
        font-style: normal;
        color: rgba($black-color, 0.2);
        background-color: #F2F2F2;
        border-radius: 50%;

        .calc-steps__item.active & {
            background-color: $primary-color;
            color: $black-color;
        }

        &::before {
            counter-increment: point;
            content: counter(point);
        }
    }

    &__label {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        font-family: $font-family--secondary;
        font-size: 10px;
        font-weight: 500;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        color: #B3B3B3;

        .calc-steps__item.active & {
            color: $black-color;
        }
    }
}