.calc-result {
    $box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.25);

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &.active {
        top: 85px;
    }

    @include media-breakpoint-up(lg) {
        position: static;
        display: block;
        margin-top: 125px;
    }

    &__link {
        margin-left: $container-padding-x * 2;
        display: none;    

        @include media-breakpoint-up(lg) {
            display: block; 
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        background-color: $white-color;

        .calc-result.active & {
            box-shadow: $box-shadow;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 25px;
            padding: 15px ($container-padding-x * 2) 25px ($container-padding-x * 2);
        }
    }

    &__title {
        margin: 0 0 10px  0;
        padding: 0 $container-padding-x;
        display: none;
        font-family: $font-family--secondary;
        font-size: 22px;
        line-height: 1.4;

        @include media-breakpoint-up(lg) {
            padding: 0;
            display: block;
        }
    }

    &__info {
        padding: 10px $container-padding-x;
        display: none;

        .calc-result.active & {
            display: block;
        }

        @include media-breakpoint-up(lg) {
            padding: 0;
        }
    }

    &__details {
        padding: 20px $container-padding-x 0;
        display: none;
        height: 340px;

        .calc-result.active & {
            display: block;
        }

        @include media-breakpoint-up(lg) {
            padding: 0;
            display: block;
            height: auto;
        }
    }

    &__details p {
        margin: 0.5em 0;
        font-family: $font-family--secondary;
        font-size: 13px;
        line-height: 1.2;
    }

    &__details dl {
        position: relative;
        margin: 0.5em 0;
        font-family: $font-family--secondary;
        font-size: 13px;
        line-height: 1.2;

        &::before {
          content: "";
          display: block;
          clear: both;
        }
    }

    &__details dt {
        margin-right: 5px;
        float: left;
    }

    &__details dd {
        margin-left: 0;
    }

    &__scroll {
        height: 100%;
        overflow-y: auto;
    }

    &__total {
        padding: 15px $container-padding-x;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: $box-shadow;
        order: 1;

        @include media-breakpoint-up(lg) {
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 0;
        }

        .calc-result.active & {
            margin-top: 20px;
            border-top: 1px solid $gray-light-color;
            box-shadow: none;
            
            @include media-breakpoint-up(lg) {
                border-top: none;
            }
        }
  
        @include media-breakpoint-up(lg) {
            padding: 0;
            display: block;
            box-shadow: none;
            order: unset;
        }
    }

    &__total p {
        margin: 0;
        font-size: 24px;
        line-height: 1.2;

        @include media-breakpoint-up(lg) {
            font-size: 28px;
        }
    }

    &__footer {
        padding: 10px $container-padding-x 0 $container-padding-x;
        display: none;
        flex-wrap: wrap;

        .calc-result.active & {
            display: flex;

            @include media-breakpoint-up(lg) {
                display: block;
            }
        }

        @include media-breakpoint-up(lg) {
            padding: 0;
            display: block;
        }
    }

    &__footer small {
        margin-bottom: 20px;
        display: block;
        width: 100%;
        font-family: $font-family--secondary;
        font-size: 12px;
        line-height: 1.2;
        color: #B3B3B3;

        @include media-breakpoint-up(lg) {
            margin-top: 0;
        }
    }

    &__reset {
        @include btn-default();

        margin-left: 15px;
        display: inline-block;
        font-family: $font-family--secondary;
        font-size: 14px;
        line-height: 1.2;
        color: $red-color;

        @include media-breakpoint-up(lg) {
            margin-top: 13px;
            margin-left: 0;
            display: block; 
        }
    }

    &__collapse {
        @include btn-default();

        position: relative;
        width: 50px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $gray-light-color; 
        border-radius: $border-radius;

        .calc-result.active & {
            background-color: #F2F2F2;
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }

        &::before {
            content: "";
            position: absolute;
            // top: 4px;
            // left: 4px;
            display: block;
            width: 5px;
            height: 5px;
            border: 1px solid $gray-dark-color;
            border-bottom-width: 0;
            border-right-width: 0;
    
            transform: rotate3d(0, 0, 1, 45deg);

            .calc-result.active & {
                border-bottom-width: 1px;
                border-right-width: 1px;
                border-top-width: 0;
                border-left-width: 0;
            }
        }
    }


    .gray {
        color: $gray-color;
    }

    .lg {
        font-size: 16px;
    }
}