.checkbox {
  display: inline-block;
  cursor: pointer;
  
  &__input {
    display: none;
    visibility: hidden;
  }

  &__label {
    position: relative;
    display: grid;
    grid-template-columns: 16px auto;
    grid-column-gap: 10px;
    font-family: $font-family--secondary;
    font-size: 12px;
    line-height: 16px;
    color: #988300;

    &::before {
      content: '';
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border: 1px solid $black-color;
      border-radius: calc(#{$border-radius} / 2);

      .checkbox__input:checked ~ & {
        background-color: $black-color;
      }
    }

    &::after {
      content: "";
      position: relative;
      top: 3px;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      justify-self: center;
      width: 9px;
      height: 4px;
      display: none;
      border-bottom: 2px solid $white-color;
      border-left: 2px solid $white-color;
      transform: rotate(-50deg);

      .checkbox__input:checked ~ & {
        display: block;
      }
    }
  }
}
