.contacts-map {
  height: inherit;

  &__main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -$container-padding-x;
    right: -$container-padding-x;
    height: inherit;

    @include media-breakpoint-up(md) {
      position: static;
    }
  }

  &__main > div {
    height: inherit;
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include media-breakpoint-up(md) {
      display: none;
    }

    @include map-full-mode {
      padding: 0 15px;
      background-color: $white-color;
      box-shadow: $header-shadow;
    }
  }

  &__close {
    @include close-button(30px,$gray-color, $primary-color);

    position: relative;
    display: none;

    @include map-full-mode {
      display: block;
    }
  }

  &__full {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    @include focus {
      outline: none;
    }

    @include map-full-mode {
      display: none;
    }
  }

  &__full svg:hover {
    fill: rgba($black-color, 0.6);
  }
}
