.contact-actions {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 3px;

  &__input {
    display: none;
  }

  &__btn {
    margin: 0;
    padding: 9px 15px;
    display: block;
    text-align: center;
    background-color: $white-color;
    border: 1px solid darken($gray-color, 8%);
    border-radius: $border-radius;
    cursor: pointer;

    &--active {
      background-color: $primary-color;
    }

    @include hover {
      border-color: $primary-color;
    }

    @include focus {
      outline: none;
    }

    .contact-actions__input:checked ~ & {
      background-color: $primary-color;
    }
  }

  span {
    margin-top: 5px;
    display: block;
    white-space: nowrap;
    font-family: $font-family--secondary;
    font-size: 12px;
    line-height: 1.2em;
  }
}
