.form {
  margin-top: 35px;
  margin-bottom: 50px;

  &__section {
   margin-bottom: 50px;
  }

  &__fieldset {
    margin: 0;
    display: grid;
    grid-row-gap: 15px;
    align-self: start;
  }

  &__fieldset dd {
    margin-left: 30px;
    width: 240px;
  }

  &__fieldset--delivery {
    $areas: label-from, select-from, label-to, select-to, form-refresh, switcher-from, switcher-to, details-from, details-to;

    @for $i from 1 through length($areas) {
      & > *:nth-child(#{$i}) {
        grid-area: nth($areas, $i);
      }
    }

    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "label-from label-from"
      "select-from select-from"
      "switcher-from switcher-from"
      "details-from details-from"
      "label-to form-refresh"
      "select-to select-to"
      "switcher-to switcher-to"
      "details-to details-to";
    border-bottom: 3px solid #F2F2F2;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr) 40px repeat(2, 1fr);
      grid-template-areas:
        "label-from label-from . label-to label-to"
        "select-from select-from form-refresh select-to select-to"
        "switcher-from switcher-from . switcher-to switcher-to"
        "details-from details-from . details-to details-to";
    }

    & > *:nth-child(#{index($areas, details-from)}),
    & > *:nth-child(#{index($areas, details-to)}) {
      margin-top: 7px;

      @include media-breakpoint-up(md) {
        margin-top: 20px;
      }
    }

    & > *:nth-child(#{index($areas, label-to)}) {
      margin-top: 15px;

      @include media-breakpoint-up(md) {
        margin-top: 0;
      }
    }
  }

  &__fieldset--address {
    grid-template-columns: 1fr 100px;
    grid-column-gap: 20px;
    align-items: end;

    @include media-breakpoint-up(md) {
      grid-column-gap: 30px;
    }

    & > .form__field:first-child {
      grid-column: 1 / -1;
    }
  }

  &__fieldset--schedule {
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    grid-column: 1 / -1;

    & > *:first-child {
      grid-column: 1 / -1;
    }
  }

  &__fieldset--tags {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 0;
  }

  &__fieldset--goods-type {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    grid-column-gap: 30px;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(4, auto);
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: 125px repeat(4, auto);
      align-items: center;
    }
  }

  &__fieldset--package {
    margin-bottom: 20px;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    box-shadow: 0 0 10px rgba($black-color, 0.15);
    border-radius: $border-radius;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint-up(md) {
      padding: 0;
      grid-template-columns: repeat(5, 100px) 1fr;
      grid-row-gap: 10px;
      box-shadow: none;
      border-radius: none;
    }
  }

  &__fieldset--auto-part {
    margin-bottom: 10px;
    grid-template-columns: 1fr minmax(80px, min-content);
    grid-column-gap: 20px;

    &:last-of-type {
      margin-bottom: 20px;
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: 330px auto;
    }
  }

  &__fieldset--boxing {
    grid-row-gap: 10px;
    grid-template-columns: 1fr;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 15px;
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(3, minmax(max-content, auto));
      grid-column-gap: 35px;
      grid-row-gap: 35px;
    }
  }

  &__error {
    grid-column: 1 / -1;
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 1.4;
    color: $red-color;
  }

  &__field {
    //margin-bottom: 15px;
    display: flex;
    flex-direction: column;

    &--span-2 {
      @include media-breakpoint-up(sm) {
        grid-column: span 2;
      }
    }

    &--align-center {
      align-items: center;

      @include media-breakpoint-up(md) {
        align-items: flex-start;
      }
    }
  }

  &__label {
    margin-bottom: 0.25em;
    display: block;
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 1.4;
    color: $font-color;

    &--light {
      color: rgba($black-color, 0.4);
    }
  }

  &__heading {
    margin: 0;
    font-family: $font-family--secondary;
    font-size: 22px;
    line-height: 1;
    font-weight: 500;

    &:not(&--no-mgb) {
      margin-bottom: 25px;
    }

    &--full {
      grid-column: 1 / -1;
    }

    .form__fieldset--goods-type & {
      grid-column: 1 / -1;

      @include media-breakpoint-up(md) {
        grid-column: unset;
      }
    }
  }

  &__details {
    margin: 40px 0 60px 0;
    font-family: $font-family--secondary;
    font-size: 15px;
    line-height: 1.4;

    dd {
      margin-top: 5px;
      margin-left: 0;
      color: $gray-dark-color;
    }
  }

  &__refresh {
    @include btn-default();

    opacity: 0.1;

    @include hover {
      opacity: 0.3;
    }

    @include media-breakpoint-up(md) {
      align-self: center;
    }
  }

  [data-content] {
    display: none;
    opacity: 0;

    &.active {
      display: block;

      animation-name: fade-in;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
  }
}
