.form {
  margin-top: 35px;

  &__section--delivery {
    $areas: label-from, select-from, label-to, select-to, form-refresh, switcher-from, switcher-to, details-from, details-to;

    @for $i from 1 through length($areas) {
      & > *:nth-child(#{$i}) {
        grid-area: nth($areas, $i);
      }
    }

    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "label-from label-from"
      "select-from select-from"
      "switcher-from switcher-from"
      "details-from details-from"
      "label-to form-refresh"
      "select-to select-to"
      "switcher-to switcher-to"
      "details-to details-to";
    grid-row-gap: 15px;
    border-bottom: 3px solid #F2F2F2;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr) 40px repeat(2, 1fr);
      grid-template-areas:
        "label-from label-from . label-to label-to"
        "select-from select-from form-refresh select-to select-to"
        "switcher-from switcher-from . switcher-to switcher-to"
        "details-from details-from . details-to details-to";
      grid-row-gap: 10px;
    }

    & > *:nth-child(#{index($areas, details-from)}),
    & > *:nth-child(#{index($areas, details-to)}) {
      margin-top: 7px;

      @include media-breakpoint-up(md) {
        margin-top: 25px;
      }
    }
  }

  &__section--department {
    margin-bottom: 25px;
    display: grid;
    grid-row-gap: 10px;
    align-self: start;

    @include media-breakpoint-up(md) {
      grid-row-gap: 15px;
    }
  }

  &__section--address {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-column-gap: 20px;
    grid-row-gap: 17px;
    align-items: end;

    @include media-breakpoint-up(md) {
      grid-column-gap: 30px;
    }

    & > .form__field:first-child {
      grid-column: 1 / -1;
    }
  }

  &__section--schedule {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 12px;
    grid-column: 1 / -1;

    & > *:first-child {
      grid-column: 1 / -1;
    }
  }

  &__section--tags {
    margin-top: 40px;
    display: flex;
  }

  &__section--goods-type {
    margin-top: 30px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 125px repeat(4, auto);
    align-items: center;
    justify-content: start;
    grid-column-gap: 30px;
  }

  &__label {
    margin-bottom: 0.25em;
    display: block;
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 1.4;
    color: $font-color;

    &--lg {
      margin-bottom: 0;
      font-size: 22px;
      line-height: 1;
      font-weight: 500;
    }

    &--light {
      color: rgba($black-color, 0.4);
    }
  }


  &__refresh {
    @include btn-default();

    opacity: 0.1;

    @include hover {
      opacity: 0.3;
    }

    @include media-breakpoint-up(md) {
      align-self: center;
    }
  }
}
