.form {
  $form-column-gap: $container-padding-x;

  margin-top: 35px;
  margin-bottom: 50px;
  counter-reset: heading;

  &--no-margin {
    margin: 0;
  }

  //&--mg-top-sm {
  //  margin-top: 15px;
  //}

  &__section {
   margin-bottom: 50px;

   &--w-underline {
    padding-bottom: 40px;
    border-bottom: 2px solid $gray-light-color--up-5;
   }

   &--account {
     max-width: 570px;
   }

   &--no-margin {
     margin: 0;
   }
  }

  &__fieldset {
    margin: 0;
    display: grid;
    grid-column-gap: $form-column-gap;
    grid-row-gap: 15px;
    //align-items: start;
    //align-self: start;
    align-items: end;

    & > * {
      order: 1;
    }

    &--row-gap-lg {
      grid-row-gap: 25px;
    }

    &--col-gap-lg {
      grid-column-gap: 30px;
    }

    &--w-575 {
      max-width: 575px;
    }

    & + & {
      margin-top: 15px;
    }

    & + &--mgt {
      margin-top: 30px;
    }
  }

  &__fieldset dd {
    margin-left: 30px;
    width: 240px;
  }

  &__fieldset--2-col-sm {
    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__fieldset--3-col-xl {
    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__fieldset--full {
    grid-column: 1 / -1;
  }

  &__fieldset--delivery {
    $areas: label-from, select-from, label-to, select-to, form-refresh, switcher-from, switcher-to, details-from, details-to;
    $template-columns-md: repeat(2, 1fr) 18px repeat(2, 1fr);
    $template-areas-md:
      "label-from label-from . label-to label-to"
      "select-from select-from form-refresh select-to select-to"
      "switcher-from switcher-from . switcher-to switcher-to"
      "details-from details-from . details-to details-to";
    $details-top-md: 20px;
    $label-top-md: 0;

    @for $i from 1 through length($areas) {
      & > *:nth-child(#{$i}) {
        grid-area: nth($areas, $i);
      }
    }

    grid-template-columns: 1fr auto;
    grid-template-areas:
      "label-from label-from"
      "select-from select-from"
      "switcher-from switcher-from"
      "details-from details-from"
      "label-to form-refresh"
      "select-to select-to"
      "switcher-to switcher-to"
      "details-to details-to";


    @include media-breakpoint-only(md) {
      grid-template-columns: $template-columns-md;
      grid-template-areas: $template-areas-md;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: $template-columns-md;
      grid-template-areas: $template-areas-md;
    }

    & > *:nth-child(#{index($areas, details-from)}),
    & > *:nth-child(#{index($areas, details-to)}) {
      margin-top: 7px;

      @include media-breakpoint-only(md) {
        margin-top: $details-top-md;
      }

      @include media-breakpoint-up(xl) {
        margin-top: $details-top-md;
      }
    }

    & > *:nth-child(#{index($areas, label-to)}) {
      margin-top: 15px;

      @include media-breakpoint-only(md) {
        margin-top: $label-top-md;
      }

      @include media-breakpoint-up(xl) {
        margin-top: $label-top-md;
      }
    }
  }

  &__fieldset--department {
    grid-area: department;
    grid-template-columns: repeat(auto-fill, minmax(230px, max-content));
  }

  &__fieldset--address {
    grid-template-columns: 1fr 100px;
    grid-column-gap: 20px;
    align-items: end;

    @include media-breakpoint-up(md) {
      grid-column-gap: $form-column-gap * 2;
    }

    & > .form__field:first-child {
      grid-column: 1 / -1;
    }
  }

  &__fieldset--schedule {
    margin-top: 25px;
    grid-template-columns: auto 1fr;
    grid-column-gap: $form-column-gap * 2;
    grid-row-gap: 10px;
    grid-column: 1 / -1;

    & > *:first-child {
      grid-column: 1 / -1;
    }
  }

  &__fieldset--tags {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  &__fieldset--goods-type {
    $template-columns-md: 125px repeat(4, auto);

    margin-bottom: 30px;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    align-items: center;
    grid-column-gap: $form-column-gap * 2;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(4, auto);
    }

    @include media-breakpoint-only(md) {
      grid-template-columns: $template-columns-md;
    }

    @include media-breakpoint-only(lg) {
      grid-column-gap: $form-column-gap;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: $template-columns-md;
    }
  }

  &__fieldset--package {
    $template-columns-md: repeat(5, 100px) 1fr;
    $row-gap-md: 10px;

    margin-bottom: 20px;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $form-column-gap;
    align-items: center;
    box-shadow: 0 0 10px rgba($black-color, 0.15);
    border-radius: $border-radius;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint-only(md) {
      padding: 0;
      grid-template-columns: $template-columns-md;
      grid-row-gap: $row-gap-md;
      box-shadow: none;
      border-radius: 0;
    }

    @include media-breakpoint-up(xl) {
      padding: 0;
      grid-template-columns: $template-columns-md;
      grid-row-gap: $row-gap-md;
      box-shadow: none;
      border-radius: 0;
    }
  }

  &__fieldset--auto-part {
    margin-bottom: 10px;
    grid-template-columns: 1fr minmax(80px, min-content);
    grid-column-gap: 20px;

    &:last-of-type {
      margin-bottom: 20px;
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: 330px auto;
    }
  }

  &__fieldset--boxing {
    $template-columns-md: repeat(3, minmax(max-content, auto));
    $column-gap-md: 35px;
    $row-gap-md: 35px;

    grid-row-gap: 10px;
    grid-template-columns: 1fr;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 15px;
    }

    @include media-breakpoint-only(md) {
      grid-template-columns: $template-columns-md;
      grid-column-gap: $column-gap-md;
      grid-row-gap: $row-gap-md;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: $template-columns-md;
      grid-column-gap: $column-gap-md;
      grid-row-gap: $row-gap-md;
    }
  }

  &__fieldset--delivery-point {
    $template-areas-md:
      "location location"
      "department department"
      "switcher ."
      "form-tab form-tab"
      "delivery-date .";

    grid-template-columns: 1fr;
    grid-template-areas:
      "location"
      "department"
      "switcher"
      "form-tab"
      "delivery-date";

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "location location"
        "department department"
        "switcher switcher"
        "form-tab form-tab"
        "delivery-date .";
    }

    @include media-breakpoint-only(md) {
      grid-template-areas: $template-areas-md;
    }

    @include media-breakpoint-up(xl) {
      grid-template-areas: $template-areas-md;
    }
  }

  &__fieldset--pickup-point {
    $template-areas-md:
      "location location"
      "department department"
      "switcher ."
      "form-tab form-tab";

    grid-template-columns: 1fr;
    grid-template-areas:
      "location"
      "department"
      "switcher"
      "form-tab";

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "location location"
        "department department"
        "switcher switcher"
        "form-tab form-tab";
    }

    @include media-breakpoint-only(md) {
      grid-template-areas: $template-areas-md;
    }

    @include media-breakpoint-up(xl) {
      grid-template-areas: $template-areas-md;
    }
  }

  &__fieldset--filter {
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
      //grid-column-gap: 30px;
      grid-column-gap: 15px;
      align-items: end;
    }

    @include media-breakpoint-up(lg) {
      padding: 15px 30px 35px 30px;
      grid-template-columns: minmax(auto, 300px) repeat(2, 1fr) 150px;
      //grid-column-gap: 15px;
      box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.1);
      border-radius: $border-radius;
    }

    @include media-breakpoint-up(xl) {
      padding: 15px 30px 35px 30px;
      grid-template-columns: minmax(auto, 360px) repeat(3, 1fr);
      //grid-column-gap: 30px;
    }

    &.form__fieldset--orders {
      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(2, 1fr) 150px;
      }

      //@include media-breakpoint-up(xl) {
      //  grid-template-columns: minmax(auto, 360px) repeat(3, 1fr);
      //}
    }
  }

  &__fieldset--edit-password {
    grid-template-columns: 1fr;
    grid-template-areas:
      "old-password"
      "new-password"
      "new-password-repeat";

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "old-password ."
        "new-password ."
        "new-password-repeat .";
    }

    & > *:nth-child(1) {
      grid-area: old-password;
    }

    & > *:nth-child(2) {
      grid-area: new-password;
    }

    & > *:nth-child(3) {
      grid-area: new-password-repeat;
    }
  }

  &__fieldset--feedback {
    margin-top: 15px;
    margin-bottom: 30px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    //grid-column-gap: 0;
    justify-content: start;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, auto);
      grid-column-gap: $container-padding-x;
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(4, auto);
      grid-template-rows: auto;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 20px;
      margin-bottom: 50px;
      grid-column-gap: $container-padding-x * 2;
    }

    & > *:nth-of-type(3) {
      grid-column: 1 / -1;
      grid-row: 2 / 3;

      @include media-breakpoint-up(sm) {
        grid-column: unset;
        grid-row: unset;
      }

    }

    & > *:nth-of-type(4) {
      grid-column: 1 / -1;
      grid-row: 3 / 4;

      @include media-breakpoint-up(sm) {
        grid-row: unset;
      }

      @include media-breakpoint-up(md) {
        grid-column: unset;
      }
    }
  }

  &__error {
    grid-column: 1 / -1;
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 1.4;
    color: $red-color;
  }

  &__field {
    //margin-bottom: 15px;
    display: flex;
    flex-direction: column;

    &--span-2 {
      @include media-breakpoint-up(sm) {
        grid-column: span 2;
      }
    }

    &--full {
      grid-column: 1 / -1;
    }

    &--align-center {
      align-items: center;

      @include media-breakpoint-only(md) {
        align-items: flex-start;
      }

      @include media-breakpoint-up(xl) {
        align-items: flex-start;
      }
    }

    &--cancel {
      align-items: center;

      @include media-breakpoint-up(sm) {
        align-items: flex-start;
        justify-content: center;
        height: 100%;
      }
    }

    &--end-xl {
      @include media-breakpoint-up(xl) {
        grid-column-end: -1;
      }
    }

    &--location {
      grid-area: location;
    }

    &--delivery-date {
      grid-area: delivery-date;
    }
  }

  &__group {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    //justify-content: start;
    grid-column-gap: 7px;

    @include media-breakpoint-up(xl) {
      grid-template-columns: auto 1fr auto 1fr;
    }

    &::before {
      content: "-";
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      color: #333333;

      @include media-breakpoint-up(xl) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
      }
    }
  }

  &__label {
    margin-bottom: 0.25em;
    display: block;
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 1.4;
    color: $font-color;

    &--light {
      //color: rgba($black-color, 0.4);
      color: $gray-color--down-11;
    }

    &--full {
      grid-column: 1 / -1;
    }

    .form__group & {
      grid-column: 1 / -1;
      color: $gray-color--down-11;

      @include media-breakpoint-up(xl) {
        margin-bottom: 0;
        margin-right: 15px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        font-size: 16px;
        color: $font-color;
      }
    }
  }

  &__label sup {
    color: $red-color;
  }

  &__heading {
    margin: 0;
    font-family: $font-family--secondary;
    font-size: 22px;
    line-height: 1;
    font-weight: 500;

    &:not(&--no-mgb) {
      margin-bottom: 25px;
    }

    &--full {
      grid-column: 1 / -1;
    }

    &--w-counter {
      &::before {
        counter-increment: heading;
        content: counter(heading, decimal-leading-zero) ".";
        margin-right: 5px;
        color: $gray-color--down-11;
      }
    }

    .form__fieldset--goods-type & {
      grid-column: 1 / -1;

      @include media-breakpoint-only(md) {
        grid-column: unset;
      }

      @include media-breakpoint-up(xl) {
        grid-column: unset;
      }
    }
  }

  &__details {
    margin: 40px 0 60px 0;
    font-family: $font-family--secondary;
    font-size: 15px;
    line-height: 1.4;

    dd {
      margin-top: 5px;
      margin-left: 0;
      color: $gray-dark-color;
    }
  }

  &__refresh {
    @include btn-default();
    align-self: end;

    opacity: 0.1;

    @include hover {
      opacity: 0.3;
    }

    @include media-breakpoint-only(md) {
      align-self: center;
    }

    @include media-breakpoint-only(xl) {
      align-self: center;
    }
  }

  &__tabs {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2px;
    list-style: none;
    grid-area: switcher;

    &--mg-top {
      margin-top: 15px;
    }
  }

  &__tabs a {
    position: relative;
    padding: 10px;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: $black-color;
    background-color: $gray-light-color--up-5;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;

    @include focus {
      outline: none;
    }

    &[aria-selected="true"] {
      color: $black-color;
      background-color: $primary-color;

      &::before,
      &::after {
        background-color: $primary-color;
      }
    }
  }

  &__tabs li:first-child a {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &__tabs li:last-child a {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &__tabs-panel {
    grid-area: form-tab;

    &--mg-top {
      margin-top: 40px;
    }
  }

  &__help-text {
    margin: 50px 0 0 0;
    font-family: $font-family--secondary;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;

    &--gray {
      color: $gray-color--down-11;
    }

    &--align-center {
      text-align: center;
    }
  }

  &__help-text br {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__mark {
    margin-bottom: 15px;
    padding: 6px 8px;
    display: inline-block;
    font-family: $font-family--secondary;
    font-size: 15px;
    line-height: 1;
    background-color: $primary-color;
  }

  &__actions {
    display: grid;
    grid-template-areas:
    "next"
    "back";
    grid-column-gap: $form-column-gap;
    grid-row-gap: 20px;
    align-items: center;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
      "next ."
      "back .";
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: 130px 1fr minmax(min-content, 223px);
      grid-template-areas: "back . next";
    }

    *:first-child {
      grid-area: back;
    }

    *:last-child {
      grid-area: next;
    }
  }

  [data-content] {
    display: none;
    opacity: 0;

    &.active {
      display: block;

      animation-name: fade-in;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
  }
}
