.form {
  $form-border-radius: 10px;

  position: relative;
  padding: 45px 33px 60px 33px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  text-align: left;
  background-color: $primary-color;
  border-radius: $form-border-radius;
  box-sizing: border-box;

  @include media-breakpoint-up(md) {
    padding-right: 45px;
    padding-left: 45px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -$container-padding-x;
    bottom: 0;
    left: -$container-padding-x;
    z-index: -1;
    background-color: $primary-color;
    border-radius: $form-border-radius;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 28px;
  }

  &__label {
    display: block;
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 20px;
    color: rgba($black-color, 0.3);
  }

  &__field {
    margin-bottom: 17px;


    &--full {
      grid-column: 1 / -1;
    }
  }

  &__submit {
    margin-top: 13px;
    padding: 14px 10px;
    display: block;
    font-family: $font-family--secondary;
    font-size: 18px;
    line-height: 21px;
    color: $white-color;
    background-color: $black-color;
    border-radius: $border-radius;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &--promo {
    @include media-breakpoint-up(lg) {
      display: inline-flex;
      max-width: 375px;
    }
  }

  &--send-cargo {
    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 35px;
    }
  }
}
