.form-tag {
  $bottom-space: 10px;

  margin-right: 10px;
  margin-bottom: $bottom-space;

  &__input {
    display: none;
  }

  &__body {
    padding: 10px;
    height: 40px;
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $primary-color;
    border-radius: 30px;
    box-sizing: border-box;
    cursor: pointer;

    .form-tag__input:checked ~ & {
      background-color: $primary-color;
    }

    .form-tag--add & {
      padding-right: 12px;
      border-width: 1px;
      border-color: #e5e5e5;
      justify-content: center;

      // @include media-breakpoint-up(md) {

      // }
    }
  }

  &__text {
    margin-left: auto;
    margin-right: auto;
    font-family: $font-family--secondary;
    font-size: 16px;
    line-height: 1;

    .form-tag--add & {
      margin-left: 10px;
      margin-right: unset;
    }
  }

  &__delete {
    position: relative;

    @include close-button(12px, $gray-color, darken($gray-color, 8%));

    .form-tag__input:checked ~ .form-tag__body & {
      display: none;
    }
  }

  &--add {
    @include btn-default();

    flex-basis: 100%;
    margin-bottom: $bottom-space;
  }
}
