.header-user {
  position: relative;
  display: flex;
  align-items: center;

  .page-header--sticky  &  {
    @include media-breakpoint-up(lg) {
      padding-bottom: $sticky-menu-bottom-space;
    }
  }

  &__input {
    display: none;
  }

  &__icon {
    margin-right: 12px;
    //padding: 12px;
    //background-color: $primary-color;
    border-radius: 50%;

    svg {
      display: block;
    }

    .header-user--logged-in & {
      margin-right: 0;
      margin-left: 20px;
      order: 1;

      @include media-breakpoint-up(lg) {
        margin-left: 42px;
      }
    }

    .page-header--sticky & {

      @include media-breakpoint-up(lg) {
        margin-left: 20px;
      }
    }
  }

  &__label {
    position: relative;
    display: none;
    font-family: $font-family;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 7px;
      right: -18px;
      width: 4px;
      height: 4px;
      display: none;
      border: 1px solid $gray-dark-color;
      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate3d(0, 0, 1, 45deg);

      .header-user--logged-in & {
        display: block;
      }
    }

    @include media-breakpoint-up(lg) {
      display: block;
    }

    .page-header--sticky & {

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }

  &__dropdown  {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 7px 19px;
    display: none;
    opacity: 0;
    background-color: $white-color;
    border-top: 3px solid $primary-color;
    border-radius: 2px;
    box-shadow: 0px 5px 40px rgba($black-color, 0.05);

    .header-user:hover > & {
      display: block;
      @include menu-hover();
    }

    .header-user--logged-in & {
      right: unset;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__link {
    padding: 7px 0;
    display: block;
    font-family: $font-family;
    font-size: 15px;
    line-height: 18px;
    white-space: nowrap;
    color: $black-color;
    text-decoration: none;
  }
}
