.info-box {
  padding: 27px;
  background-color: $primary-color;
  border-radius: $border-radius;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__title {
    margin: 0 0 11px 0;
    font-family: $font-family--secondary;
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
  }

  &__text {
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 20px;
  }
}
