.link {
  display: inline-block;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-column-gap: 10px;
  font-family: $font-family--secondary;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
  color: $black-color;

  &--sm {
    font-size: 12px;
  }

  &--lg {
    font-size: 16px;
  }

  &--gray {
    color: lighten($gray-dark-color, 10%);
  }

  &--blue {
    color: $blue-color;
  }

  &--bold {
    font-weight: 500;
  }

  &__text {
    position: relative;
    display: inline-block;

    .link.active & {
      color: $red-color;
    }

    .link--blue & {
      color: $blue-color;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      right: 0;
      left: 0;
      border-bottom-width: 1px;
      border-bottom-style: dotted;
      border-bottom-color: $black-color;

      .link.active & {
        border-bottom-color: $red-color;
      }

      .link--dashed & {
        border-bottom-style: dashed;
      }

      .link--gray & {
        border-bottom-color: lighten($gray-dark-color, 10%);
      }

      .link--blue & {
        border-bottom-color: $blue-color;
      }

      .link--no-underline & {
        border: none;
      }
    }
  }
}
