.link {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-column-gap: 10px;
  text-decoration: none;
  color: $black-color;

  &--align-start {
    align-items: start;
  }

  &--sm {
    font-size: 12px;
  }

  &--lg {
    font-size: 16px;
  }

  &--gray {
    color: lighten($gray-dark-color, 10%);
  }

  &--blue {
    color: $blue-color;
  }

  &--bold {
    font-weight: 500;
  }

  &__text {
    position: relative;
    display: inline-block;

    .link.active & {
      color: $red-color;
    }

    .link--blue & {
      color: $blue-color;
    }
  }

  &__text {
    // display: inline-block;
    // background-image: linear-gradient(to right, blue 75%, transparent 75%);
    // background-image: linear-gradient(to right, blue 50%, transparent 50%);
    // background-position: 0 1.3em;
    // background-repeat: repeat-x;
    // background-size: 3px 1px;


    // .link--gray & {
    //   background-image: linear-gradient(to right, $gray-dark-color 50%, transparent 50%);
    // }

    // .link--blue & {
    //   background-image: linear-gradient(to right, $blue-color 50%, transparent 50%);
    // }
  }

  &__text span {
    position: relative;
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 1.45;
    border-bottom: 1px dashed $black-color;

    .link--gray & {
      border-bottom-color: lighten($gray-dark-color, 10%);
    }
  }
}
