.main-promo {
  font-family: $font-family;

  &__inner {
    @include container();
    padding-top: 32px;

    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto 195px 60px;
      grid-template-areas:
        "title form"
        "text form"
        "image form"
        "list form";
      grid-column-gap: 12px;
    }
  }

  &__title {
    margin: 0;
    grid-area: title;
    font-size: 32px;
    line-height: 35px;
    color: $black-color;
  }

  &__text {
    margin-top: 35px;
    grid-area: text;
    font-size: 16px;
    line-height: 19px;
    color: $black-color;

    @include media-breakpoint-up(md) {
      margin-top: 12px;
    }
  }

  &__text span {
    position: relative;
    margin-right: 12px;
    padding-left: 10px;
    display: inline-block;
    font-weight: 700;

    &::before {
      content: "";
      position: absolute;
      top: -6px;
      right: -10px;
      bottom: -6px;
      left: 0;
      z-index: -1;
      border-radius: $border-radius;
      background-color: $primary-color;
    }
  }

  &__img {
    margin-top: 8px;
    margin-right: 10px;
    display: none;
    width: 100%;
    height: auto;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__list {
    grid-area: list;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-size: 14px;
    line-height: 17px;
    list-style: none;

    @include media-breakpoint-up(md) {
      margin-top: 5px;
      margin-bottom: 10px;
      margin-right: 15px;
    }
  }

  &__list svg,
  &__list span {
    vertical-align: middle;
    display: inline-block;
  }

  &__list span {
    margin-left: 5px;
  }

  &__form {
    grid-area: form;
    margin-top: 60px;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }
}
