.main-nav {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: space-between;
  list-style: none;

  .page-header--sticky &  {

    @include media-breakpoint-up(lg) {
      margin-right: 65px;
    }
  }

  &__input {
    display: none;
  }

  &__item {
    position: relative;

    .main-nav > & {
      @include media-breakpoint-up(lg) {
        padding: 0 15px 40px 0;
      }
    }

    &--dropdown {
      padding: 5px 0;
    }

    .page-header--sticky .main-nav > &  {

      @include media-breakpoint-up(lg) {
        padding-bottom: $sticky-menu-bottom-space;
      }
    }
  }

  &__link {
    font-family: $font-family;
    font-size: 17px;
    line-height: 24px;
    color: $gray-dark-color;
    text-decoration: none;
    white-space: nowrap;

    @include media-breakpoint-up(lg) {
      font-size: 16px;
      line-height: 20px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 17px;
      line-height: 24px;
    }

    .page-header--sticky &  {

      @include media-breakpoint-up(lg) {
       font-size: 14px;
       line-height: 20px;
      }
    }

    .main-nav__item--dropdown & {
      font-size: 16px;
      line-height: 22px;

      @include media-breakpoint-up(lg) {
        font-size: 15px;
        line-height: 20px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  &__link  span {
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: -12px;
      width: 4px;
      height: 4px;
      border: 1px solid $gray-dark-color;
      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate3d(0, 0, 1, 45deg);

      @include media-breakpoint-up(lg) {
        top: 6px;
      }

      @include media-breakpoint-up(xl) {
        top: 8px;
      }

      .page-header--sticky &  {

        @include media-breakpoint-up(lg) {
          top: 6px;
        }
      }
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 13px 30px 20px 20px;
    list-style: none;
    display: none;
    opacity: 0;
    background-color: $white-color;
    border-top: 3px solid $primary-color;
    border-radius: 2px;
    box-shadow: 0px 5px 40px rgba($black-color, 0.05);

    .main-nav__item:hover > & {
      display: block;
      @include menu-hover();
    }
  }
}
