.map {

  &__content {
    width: 100%;
    height: 385px;
    background-color: $gray-light-color;
  }

  &__point {

    path:first-child {
      fill: $primary-color;
    }

    &.active path:first-child {
      fill: $red-color;
    }
  }
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
  background:none !important;
}
