.media {
  padding: 23px 30px 25px;
  max-width: 370px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 20px;
  align-items: center;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  border-radius: $border-radius;

  &__text {
    margin-top: 0;
    margin-bottom: 0.65em;
    font-family: $font-family--secondary;
    font-size: 18px;
    line-height: 1.2;
  }

  &__img {
    margin-top: 2px;
    align-self: start;
  }
}
