.mobile-nav {
  $mobile-padding-left: 20px;
  $mobile-padding-right: 15px;

  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  display: none;
  flex-direction: column;
  background-color: #F7F7F7;

  .page--mobile-open & {
    display: flex;
  }

  @include media-breakpoint-up(lg) {
    display: none;

    .page--mobile-open & {
      display: none;
    }
  }

  &__header {
    position: relative;
    padding-right: $mobile-padding-right;
    padding-left: $mobile-padding-left;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
  }

  &__logo {
    width: 68px;
    height: 40px;
    background-color: $gray-color;
  }

  &__contact {
    padding: 15px;
    display: block;
    background-color: $white-color;
    border-radius: 50%;
  }

  &__close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
    padding: 0;
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 1px;
      background-color: #b3b3b3;
    }

    &::before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &::after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }

  &__input {
    display: none;

    &:checked ~ .mobile-nav__list--inner {
      position: static;
      opacity: 1;
    }
  }

  &__scroll {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all 0.5s ease-in;

    &--inner {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      padding-top: 15px;
      padding-bottom: 15px;
      opacity: 0;
      background-color:  #E9E9E9;
    }
  }

  &__link {
    padding: 15px $mobile-padding-right 15px $mobile-padding-left;
    display: block;
    border-bottom: 1px solid #e6e6e6;
    font-size: 18px;
    line-height: 22px;
    color: $gray-dark-color;
    text-decoration: none;
    cursor: pointer;

    .mobile-nav__list--inner & {
      padding-top: 10px;
      padding-bottom: 10px;
      border: none;
      font-size: 16px;
      line-height: 18px;
    }

    .mobile-nav__input:checked ~  & {
      background-color: $white-color;
      box-shadow: 0px 2px 10px rgba($black-color, 0.05);
    }
  }

  &__link--toggle {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 5px);
      transform: translateY(-50%);
      right: 15px;
      width: 4px;
      height: 4px;
      border: 1px solid $gray-dark-color;
      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate3d(0, 0, 1, 45deg);
    }

    .mobile-nav__input:checked ~  &::after {
      top: 50%;
      transform: rotate3d(0, 0, 1, -135deg);
    }
  }

  &__footer {
    margin-top: auto;
    padding: 30px $mobile-padding-right 45px $mobile-padding-left;
  }

}
