.page {

  @include mobile-open {
    overflow: hidden;
  }

  @include map-full-mode {
    overflow: hidden;
  }

  &--no-scroll {
    overflow: hidden;

    @include media-breakpoint-up(lg) {
      overflow: auto;
    }
  }

  &__inner {

    //.page-contacts--full-map & {
    //  position: fixed;
    //  overflow: hidden;
    //}

    //@include header-sticky(xs) {
    //  padding-top: 85px;
    //}
  }

  &__container {
    @include container();

    &--account-two-col {
      display: grid;

      @include media-breakpoint-up(md) {
        grid-template-columns: 1fr minmax(min-content, 270px);
      }
    }

    //@include media-breakpoint-up(lg) {
    //  display: grid;
    //  grid-template-columns: auto 400px;
    //  grid-column-gap: 35px;
    //}
    //
    //@include media-breakpoint-up(xl) {
    //  display: grid;
    //  grid-template-columns: minmax(auto, 700px) minmax(auto, 400px);
    //  grid-column-gap: 70px;
    //}
  }
}

body {
  @include mobile-open {
    //position: fixed;
  }

  @include map-full-mode {
    position: fixed;
  }
}
