.page-section {

  &--article {
    margin-top: 90px;
  }

  &__container {
    @include container();
  }

  &__title {
    margin: 0;
    margin-top: 55px;
    margin-bottom: 15px;
    font-family: $font-family;
    font-size: 32px;
    line-height: 1.2;
    color: $black-color;

    @include media-breakpoint-up(lg) {
      font-size: 42px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 110px;
    }

    .page-section--examples & {
      font-size: 28px;

      @include media-breakpoint-up(lg) {
        margin-top: 15px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 42px;
        font-weight: 400;
      }
    }

    .page-section--article & {
      @include media-breakpoint-up(lg) {
        margin-top: 30px;
      }
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: $font-family--secondary;
    font-size: 15px;
    line-height: 1.2;
    color: $font-color;

    @include media-breakpoint-up(lg) {
      margin-bottom: 35px;
      font-size: 18px;
      line-height: 1.4;
    }
  }

  &__truncate {
    position: relative;
    height: 110px;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      height: 150px;
    }

    @include media-breakpoint-up(lg) {
      height: 300px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 80px;
      box-shadow: 0 -50px 10px rgba($white-color, 0.75) inset;
    }
  }

  &__row {

    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: 50% 1fr;
      grid-column-gap: 55px;
    }

    @include media-breakpoint-up(xl) {
      grid-column-gap: 65px;
    }

    .page-section--article & {
      @include media-breakpoint-up(xl) {
        grid-column-gap: 150px;
      }
    }
  }

  &__more {
    position: relative;
    padding: 0;
    font-family: $font-family--secondary;
    font-size: 16px;
    line-height: 1.2;
    color: $font-color;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      content: "";
      top: 50%;
      transform: translateY(-50%);
      right: -40px;
      width: 30px;
      height: 30px;
      border: 1px solid rgba($black-color, 0.1);
      border-radius: 50%;
    }

    &::after {
      content: "";
      top: 6px;
      right: -27px;
      width: 4px;
      height: 4px;
      border: 1px solid $black-color;
      border-top-color: transparent;
      border-right-color: transparent;
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }

  &__images {
    margin-top: 30px;
    padding-right: 35px;

    @include media-breakpoint-up(md) {
      padding-right: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 10px;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
    }
  }

  &__img {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;

    @include media-breakpoint-up(lg) {
      width: auto;
    }
  }
}
