.page {

  @include mobile-open {
    overflow: hidden;
  }

  @include map-full-mode {
    overflow: hidden;
  }

  &__inner {

    //.page-contacts--full-map & {
    //  position: fixed;
    //  overflow: hidden;
    //}

    //@include header-sticky(xs) {
    //  padding-top: 85px;
    //}
  }
}

body {
  @include mobile-open {
    //position: fixed;
  }

  @include map-full-mode {
    position: fixed;
  }
}
