.page-contacts {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    height: 675px;
  }

  &__main {
    @include container();

    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto) 1fr auto;
    //grid-row-gap: 20px;
    grid-template-areas:
      "tabs"
      "switcher"
      "select"
      "tab-content"
      "info";
    width: 100%;
    //height: 100vh;
    box-sizing: border-box;
    transition: transform 0.5s ease-in;

    @include media-breakpoint-up(md) {
      position: static;
      padding-top: 35px;
      margin-bottom: 60px;
      grid-template-columns: 400px  1fr 25px 1fr 65px;
      grid-template-rows: repeat(2, auto) 450px;
      grid-template-areas:
        "switcher . info info info"
        "select . info info info"
        "list panel panel panel .";
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      height: auto;
      box-sizing: content-box;
    }
  }

  &__details {
    //@include container();
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    z-index: 2;
    transition: transform 0.5s ease-in-out;
    transform: translateX(calc(100% + #{$container-padding-x}));
    background-color: $white-color;
    box-sizing: border-box;
    border-radius: $border-radius;

    .page-contacts--details-open & {
      transform: translateX(0);
    }

    @include media-breakpoint-up(md) {
      grid-area: panel;
      transform: unset;

      .page-contacts--details-open & {
        transform: unset;
      }
    }
  }

  &__switcher {
    //margin-top: 25px;
    margin-top: 25px;
    margin-bottom: 20px;
    grid-area: switcher;

    @include moveContactPageInfoLeft;
  }

  &__select {
    margin-bottom: 20px;
    grid-area: select;

    @include moveContactPageInfoLeft;
  }

  &__list {
    //margin-top: 25px;
    //padding: 20px 0;
    grid-area: tab-content;
    background-color: $white-color;
    border-radius: $border-radius;

    @include moveContactPageInfoLeft;

    @include media-breakpoint-up(md) {
      padding-left: 20px;
      padding-right: 10px;
      grid-area: list;
    }
  }

  &__feedback {
    margin-top: 35px;
    margin-bottom: 60px;
    padding: 20px 29px 20px 20px;
    box-sizing: border-box;
    grid-area: info;
    display: grid;
    grid-row-gap: 10px;
    background-color: $primary-color;
    border-radius: $border-radius;

    .page--is-map-active & {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
      }
    }

    @include moveContactPageInfoLeft;

    @include media-breakpoint-up(md) {
      height: 90px;
      grid-template-columns: 1fr auto;
      grid-template-rows: repeat(2, auto);
    }
  }

  &__feedback p {
    margin: 0;
    grid-column: 1 / -1;
  }

  &__map {
    position: relative;
    height: 100%;
    grid-area: tab-content;

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      grid-area: unset;
    }
  }

  &__map-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    right: -15px;
    height: inherit;

    @include media-breakpoint-up(md) {
      position: static;
    }
  }

  &__map-wrap > div {
    height: inherit;
  }

  &__list,
  &__map {
    @include moveContactPageInfoLeft;
  }
}
