.page-header {
  width: 100%;
  background-color: $white-color;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);

  &--sticky {
    position: fixed;
    z-index: 100;
  }

  &__inner {
    @include container();

    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 68px 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "logo top"
      "logo nav";
    grid-column-gap: 20px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 0;
      grid-template-columns: 130px 1fr;
      grid-column-gap: 45px;
    }

    @include media-breakpoint-up(xl) {
      grid-column-gap: 95px;
    }

    @include header-sticky(lg) {
      padding-top: 12px;
      grid-template-columns: 60px 1fr;
      grid-column-gap: 45px;
    }
  }

  &__logo {
    display: flex;
    grid-area: logo;

    .page--mobile-open & {
      opacity: 0;
    }

    @include media-breakpoint-up(lg) {
      .page--mobile-open & {
        opacity: 1;
      }
    }
  }

  &__logo svg {
    width: 68px;
    height: 40px;

    @include media-breakpoint-up(lg) {
      width: 128px;
      height: 78px;
    }

    @include header-sticky(lg) {
      width: 60px;
      height: 40px;
    }
  }

  &__top {
    //padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    grid-area: top;
    align-items: center;
    height: 40px;

    .page--mobile-open & {
      opacity: 0;
    }

    @include header-sticky(lg) {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      height: auto;
      padding-bottom: 15px;

      .page--mobile-open & {
        opacity: 1;
      }
    }
  }

  &__contact {
    margin: 0 20px;
    padding: 15px 23px;
    font-family: $font-family;
    font-size: 15px;
    color: $font-color;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.015);
    border-radius: 23px;
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }

    &--sticky {
      display: none;

      @include header-sticky(lg) {
        display: block;
        padding: 15px;
      }

      @include header-sticky(xl) {
        padding: 15px 23px;
      }
    }

    @include header-sticky(lg) {
      margin-right: 0;
      margin-left: 0;
      margin-bottom: $sticky-menu-bottom-space;
    }
  }

  &__contact svg {
    display: inline-block;
    vertical-align: middle;
  }

  &__contact span {
    margin-left: 8px;
    vertical-align: middle;

    @include header-sticky(lg) {
      display: none;
    }

    @include header-sticky(xl) {
      display: inline-block;
    }
  }

  &__user {

    &--sticky {
      display: none;

      @include header-sticky(lg) {
        display: block;
      }
    }
  }

  &__open {
    margin-left: 20px;
    display: flex;
    align-items: center;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__open button {
    padding: 0;
    width: 26px;
    height: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__open span {
    position: relative;
    width: 100%;
    height: 1px;
    display: block;
    background-color: #B3B3B3;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #B3B3B3;
    }

    &::before {
      top: -7px;
    }

    &::after {
      top: 7px;
    }
  }

  &__nav {
    display: none;

    @include media-breakpoint-up(lg) {
      position: relative;
      display: block;
      grid-area: nav;
    }

    @include header-sticky(lg) {
      display: grid;
      grid-template-columns: 1fr repeat(2, auto);
      align-items: end;
      justify-content: space-between;
    };
  }

  &__breadcrumb {
    grid-column: 1 / -1;
  }
}
