.preloader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: lighten($gray-light-color, 7%);
  border-radius: $border-radius;

  @include media-breakpoint-up(sm) {
    background-color: $white-color;
  }

  .loading & {
    display: flex;
  }
}
