.report {
  min-height: 105px;
  border-top: 1px solid transparent;

  @include media-breakpoint-up(md) {
    min-height: 125px;
  }

  @include media-breakpoint-up(lg) {
    min-height: 325px;
  }

  &__table {
    display: none;

    @include media-breakpoint-up(sm) {
      position: relative;
      margin-left: -15px;
      margin-right: -15px;
      display: block;
    }

    @include media-breakpoint-up(xl) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__data {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  &__footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-up(md) {
      margin-top: 35px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 40px;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__text {
    margin-top: 45px;
    font-family: $font-family--secondary;
    font-size: 18px;
    line-height: 1.4;
    color: $gray-color--down-11;
    text-align: center;

    @include media-breakpoint-up(md) {
      font-size: 26px;
    }
  }
}
