.select {
  $arrow-height-large: 7px;
  $arrow-height: 6px;

  position: relative;
  border: 1px solid $gray-light-color;
  border-radius: $border-radius;

  &:hover {
    border-color: darken($gray-light-color, 10%);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 4px;
    height: 4px;
    border: 1px solid $gray-dark-color;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate3d(0, 0, 1, -45deg) translateY(-6px);

    //@include hover {
    //  border-top-color: darken($gray-dark-color, 10%);
    //}
  }

  &__field {
    margin: 0;
    width: 100%;
    padding: 15px 8px 15px 15px;
    font-family: $font-family--secondary;
    font-size: 16px;
    line-height: 20px;
    color: $gray-dark-color;
    border: none;
    border-radius: inherit;
    background-color: $white-color;
    appearance: none;
    outline: none;
    cursor: pointer;

    @include placeholder {
      color: $gray-dark-color;
    }

    .select:hover & {
      color: darken($gray-dark-color, 10%);
    }

  }
}
