.swiper {
  position: relative;

  &-pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    //left: 50%;
    //transform: translateX(-50%);
    //width: 100%;
    //display: grid;
    //grid-template-columns: repeat(4, auto);

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }

  &-pagination-bullet {
    margin: 15px 5px 10px 5px;
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 50%;
    background-color: $gray-light-color;
    cursor: pointer;

    &-active {
      width: 8px;
      height: 8px;
      background-color: $black-color;
    }

    &:focus {
      outline: none;
    }
  }
}
