.switcher {
  display: flex;
  justify-content: space-between;

  &__btn {
    @include btn-default();

    padding: 10px;
    min-height: 45px;
    flex-basis: 50%;
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 20px;
    background-color: #f2f2f2;
    border-radius: $border-radius;

    &.active {
      background-color: $primary-color;
    }
  }
}
