.tabs {
  $tabs-nav-space: 4px;
  $tab-nav-border-height: 2px;

  &--contacts {
    grid-area: tabs;

    @include moveContactPageInfoLeft;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__nav {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: $tabs-nav-space;
    list-style: none;

    .tabs--contacts & {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 0;
    }

    .tabs--two & {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 0;
    }
  }

  &__nav li {
    background-color: $gray-light-color--up-5;

    .tabs--contacts & {
      background-color: $white-color;
    }
  }

  &__nav a {
    position: relative;
    padding: 18px 0;
    display: block;
    font-family: $font-family--secondary;
    font-size: 22px;
    line-height: 1.25;
    font-weight: 500;
    color: $black-color;
    text-align: center;
    text-decoration: none;
    border-bottom: $tab-nav-border-height solid transparent;
    user-select: none;

    .tabs--contacts & {
      font-size: 16px;
      line-height: 1.2;
      color: darken($gray-color, 13%);
      border-bottom-color: $gray-light-color;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: -$tab-nav-border-height;
      width: $tabs-nav-space;
      height: $tab-nav-border-height;
      background: transparent;

      .tabs--contacts & {
        display: none;
      }
    }

    &::before {
      left: -$tabs-nav-space
    }

    &::after {
      right: -$tabs-nav-space
    }

    @include focus {
      outline: none;
    }

    &[aria-selected="true"] {
      color: $black-color;
      background-color: $white-color;
      border-color: $primary-color;

      &::before,
      &::after {
        background-color: $primary-color;
      }
    }
  }

  &__nav span {
    font-size: 14px;
    line-height: 1.3;
  }

  &__panel {
    padding-top: 40px;
  }

  &__content {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-column-gap: 30px;
  }
}
