.tabs {
  $tabs-nav-space: 4px;
  $tab-nav-border-height: 2px;

  &__nav {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: $tabs-nav-space;
    list-style: none;
  }

  &__nav li {
    background-color: #f2f2f2;
  }

  &__nav a {
    position: relative;
    padding: 0.85em 0;
    display: block;
    font-family: $font-family--secondary;
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    color: $black-color;
    text-align: center;
    text-decoration: none;
    border-bottom: $tab-nav-border-height solid transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: -$tab-nav-border-height;
      width: $tabs-nav-space;
      height: $tab-nav-border-height;
      background: transparent;
    }

    &::before {
      left: -$tabs-nav-space
    }

    &::after {
      right: -$tabs-nav-space
    }

    @include focus {
      outline: none;
    }

    &[aria-selected="true"] {
      background-color: $white-color;
      border-color: $primary-color;

      &::before,
      &::after {
        background-color: $primary-color;
      }
    }
  }

  &__nav span {
    font-size: 14px;
    line-height: 20px;
  }

  &__panel {
    //display: grid;
    //grid-template-columns: 40% 1fr;
    //grid-column-gap: 30px;
  }
}
