.text-box {
    padding-bottom: 20px;
    // height: 110px;
    overflow: hidden;

    // @include media-breakpoint-up(md) {
    //     height: 150px;
    // }

    // @include media-breakpoint-up(lg) {
    //     height: 300px;
    // }

   &__content {
    position: relative; 
    
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        box-shadow: 0 -60px 10px rgba($white-color, 0.75) inset;
    }
   }

    &__more {
        position: relative;
        margin-top: 15px;
        padding: 0;
        font-family: $font-family--secondary;
        font-size: 16px;
        line-height: 1.2;
        color: $font-color;
        border: none;
        background-color: transparent;
        cursor: pointer;
    
        &:focus {
          outline: none;
        }
    
        &::before,
        &::after {
          content: "";
          position: absolute;
        }
    
        &::before {
          content: "";
          top: 50%;
          transform: translateY(-50%);
          right: -40px;
          width: 30px;
          height: 30px;
          border: 1px solid rgba($black-color, 0.1);
          border-radius: 50%;
        }
    
        &::after {
          content: "";
          top: 6px;
          right: -27px;
          width: 4px;
          height: 4px;
          border: 1px solid $black-color;
          border-top-color: transparent;
          border-right-color: transparent;
          transform: rotate3d(0, 0, 1, -45deg);
        }
      }
}