.timeline {
  @include list-clear();

  margin-top: 43px;
  margin-bottom: 63px;

  &__item {
    position: relative;
    padding-left: 32px;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 5px;
      height: 5px;
      background-color: #C4C4C4;
      border-radius: 50%;
    }

    &:not(:first-child) {
      margin-top: 34px;
    }

    &:not(:first-child)::after {
      content: "";
      position: absolute;
      left: 2px;
      bottom: 23px;
      width: 1px;
      height: 58px;
      background-color: $gray-light-color;
    }
  }

  &__meta {
    font-family: $font-family--secondary;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;

    &--date {
      margin-right: 5px;
      font-weight: 400;
      color: $gray-dark-color;
    }
  }

  &__status {
    margin-left: 32px;
    padding: 5px 10px;
    display: block;
    font-family: $font-family--secondary;
    font-size: 13px;
    line-height: 21px;
    border: 1px solid transparent;
    box-sizing: border-box;

    &--yellow {
      background: rgba(255, 220, 0, 0.1);
      border: 2px solid #FFDC00;
    }

    &--blue {
      background: rgba(80, 167, 255, 0.1);
      border: 2px solid #50A7FF;
    }

    &--pink {
      background: rgba(199, 65, 65, 0.1);
      border: 2px solid #C74141;
    }
  }
}
