.traffic {

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 10px;
  }

  @include media-breakpoint-up(xl) {
    grid-column-gap: 25px;
  }

  &__item {

  }

  &__img {
    position: relative;
    width: 100%;
    height: 271px;
    background-color: $gray-light-color;
  }

  &__title {
    margin: 14px 0 10px 0;
    font-family: $font-family--secondary;
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;

    //@include media-breakpoint-up(md) {
    //  font-size: 20px;
    //}

    span {
      position: relative;
      padding-left: 0.3em;
      display: inline-block;

      @include media-breakpoint-up(md) {
        padding-left: 0;
        display: inline;
      }

      @include media-breakpoint-up(xl) {
        padding-left: 0.3em;
        display: inline-block;
      }

      &::before {
        content: "";
        position: absolute;
        top: -0.09em;
        right: -0.3em;
        bottom: -0.09em;
        left: 0;
        z-index: -1;
        border-radius: 5px;
        background-color: #FFDC00;

        @include media-breakpoint-up(md) {
          display: none;
        }

        @include media-breakpoint-up(xl) {
          display: block;
        }
      }
    }
  }

  &__text {
    font-family: $font-family--secondary;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    opacity: 0.8;
  }
}
