.work-in-team {
  margin-top: 125px;

  &__header {
    margin-bottom: 110px;
    position: relative;
  }

  &__header-box {
    position: absolute;
    left: 65px;
    bottom: -20px;
    padding: 40px 25px 35px 45px;
    width: 405px;
    height: 225px;
    background-color: $white-color;
    box-shadow: 0px 24px 54px rgba($black-color, 0.04);
    border-radius: $border-radius;
    box-sizing: border-box;
  }

  &__title {
    margin: 0 0 18px 0;
    font-family: $font-family;
    font-size: 28px;
    line-height: 1.2;
  }

  &__text {
    margin: 25px 0 0 0;
    font-family: $font-family--secondary;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
  }

  &__body {
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 45px;
    grid-row-gap: 45px;
  }

  &__list {

    &:first-child {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
    }
  }

  &__footer {
    margin-top: 45px;
    border-top: 1px solid transparent;
    //margin-top: 45px;
    padding-left: 45px;
    width: 100%;
    max-width: 865px;
    box-sizing: border-box;
  }
}
