<a href="#" class="link link--blue link--lg">
  <span class="link__text">Владивосток, Автовокзал</span>
</a>
<button class="filter-list__action" data-tippy-content="Выдача грузов">
  <svg width="18px" height="18px">
    <use xlink:href="{{root}}assets/img/symbol/sprite.svg#accept"></use>
  </svg>
</button>
<button class="filter-list__action" data-tippy-content="Прием грузов">
  <svg width="18px" height="18px">
    <use xlink:href="{{root}}assets/img/symbol/sprite.svg#give"></use>
  </svg>
</button>
<button class="filter-list__action" data-tippy-content="Офис">
  <svg width="18px" height="18px">
    <use xlink:href="{{root}}assets/img/symbol/sprite.svg#office"></use>
  </svg>
</button>
<div class="filter-list__text">Русская ул., 2а, ст. 3.</div>
<div class="filter-list__text filter-list__text--status">{{status}}</div>
