<a href="#" class="link link--blue link--lg" data-point-id="{{id}}">
  <span class="link__text">{{ title }}</span>
</a>
<button class="points-list__action" data-tippy-content="Прием грузов">
  <svg width="18px" height="18px" class="icon">
    <use xlink:href="{{root}}assets/img/symbol/sprite.svg#give"></use>
  </svg>
</button>
<button class="points-list__action" data-tippy-content="Выдача грузов">
  <svg width="18px" height="18px" class="icon">
    <use xlink:href="{{root}}assets/img/symbol/sprite.svg#accept"></use>
  </svg>
</button>
<button class="points-list__action" data-tippy-content="Офис">
  <svg width="18px" height="18px" class="icon">
    <use xlink:href="{{root}}assets/img/symbol/sprite.svg#office"></use>
  </svg>
</button>
<div class="points-list__text">Русская ул., 2а, ст. 3.</div>
<div class="points-list__text points-list__text--status">{{status}}</div>
