<article class="area-selector">
<!--  <input type="checkbox" id="areaInputToggle" class="area-selector__input">-->
  <span class="area-selector__toggle">
    <svg>
      <use xlink:href="{{root}}assets/img/symbol/sprite.svg#area"></use>
    </svg>
    <span>Приморский край</span>
  </span>
  <div class="area-selector__dropdown">
    <div class="area-selector__column">
      <h2 class="area-selector__title">Приморский край</h2>
      <ul class="area-selector__list">
        <li class="area-selector__item">
          <a href="#" class="area-selector__link">Владивосток</a>
          <a href="#" class="area-selector__link area-selector__link--more">2 териманала</a>
        </li>
        <li class="area-selector__item">
          <a href="#" class="area-selector__link">Артем</a>
        </li>
        <li class="area-selector__item">
          <a href="#" class="area-selector__link">Уссурийск</a>
        </li>
        <li class="area-selector__item">
          <a href="#" class="area-selector__link">Находка</a>
        </li>
        <li class="area-selector__item">
          <a href="#" class="area-selector__link">Дальнегорск</a>
        </li>
      </ul>
    </div>
    <div class="area-selector__column">
      <h2 class="area-selector__title">Республика Татарстан</h2>
      <ul class="area-selector__list">
        <li class="area-selector__item">
          <a href="#" class="area-selector__link">Казань</a>
          <a href="#" class="area-selector__link area-selector__link--more">3 териманала</a>
        </li>
      </ul>
    </div>
  </div>
</article>
