<ul class="calc-steps">
    <li class="calc-steps__item done">
        <i class="calc-steps__point"></i>
        <div class="calc-steps__label">Автор заявки</div>
    </li>
   <li class="calc-steps__item active">
        <i class="calc-steps__point"></i>
        <div class="calc-steps__label">Отправитель груза</div>
   </li>
   <li class="calc-steps__item">
        <i class="calc-steps__point"></i>
        <div class="calc-steps__label">Параметры груза</div>
   </li> 
   <li class="calc-steps__item">
        <i class="calc-steps__point"></i>
        <div class="calc-steps__label">Завершение</div>
   </li>
</ul>     
