<div class="form__fieldset form__fieldset--package">
  <div class="form__field">
    <label class="form__label" for="package-count">Кол-во мест</label>
    {{{ input type="text" id="package-count" name="package-count" placeholder="0" mods="error"  }}}
  </div>
  <div class="form__field">
    <label class="form__label" for="package-weight">Вес</label>
    {{{ input type="text" id="package-weight" name="package-weight" placeholder="0" unit="кг"}}}
  </div>
  <div class="form__field">
    <label class="form__label" for="package-width">Ширина</label>
    {{{ input type="text" id="package-width" name="package-width" placeholder="0" unit="см"}}}
  </div>
  <div class="form__field">
    <label class="form__label" for="package-height">Высота</label>
    {{{ input type="text" id="package-height" name="package-height" placeholder="0" unit="см"}}}
  </div>
  <div class="form__field">
    <label class="form__label" for="package-length">Длина</label>
    {{{ input type="text" id="package-length" name="package-length" placeholder="0" unit="см"}}}
  </div>
  <div class="form__field form__field--align-center">
    <label class="form__label">&#160;</label>
    {{#if delete}}
      {{{ btn type="delete" }}}
    {{/if}}
  </div>

  {{#if error}}
    <div class="form__error">Габариты превышают допустимые значения 0,5×0,5×0,5 м. Перевозка невозможна.</div>
  {{/if}}
</div>
