<div class="form__fieldset form__fieldset--goods-type">
  <label class="form__label form__label--lg">Тип груза:</label>
  <div class="form__field">
    {{{ radio id="goods-type-docs" name="goods-type" label="Документы" checked="true"}}}
  </div>
  <div class="form__field">
    {{{ radio id="goods-type-package" name="goods-type" label="Посылки" }}}
  </div>
  <div class="form__field">
    {{{ radio id="goods-type-auto" name="goods-type" label="Автозапчасти" }}}
  </div>
  <div class="form__field">
    {{{ radio id="goods-type-other" name="goods-type" label="Другое" }}}
  </div>
</div>
