<dl class="form__fieldset">
  <dt>
    {{{ radio id="insurance" name="add-services" label="Страхования" help="help" }}}
  </dt>
  <dd data-content="insurance">
    <label for="insurance-field" class="form__label">Объявленная ценность</label>
    {{{ input type="text" id="insurance-field" name="insurance" unit="Р" }}}
  </dd>
  <dt>
    {{{ radio id="sms-for-sender" name="add-services" label="СМС-уведомления отправителю" help="help" }}}
  </dt>
  <dd data-content="sms-for-sender">
    <label for="sms-for-sender-field" class="form__label">Номер телефона</label>
    {{{ input type="text" id="sms-for-sender-field" name="insurance" unit="Р" }}}
  </dd>
  <dt>
    {{{ radio id="sms-for-receiver" name="add-services" label="СМС-уведомления получателю" help="help" }}}
  </dt>
  <dd data-content="sms-for-receiver">
    <label for="sms-for-receiver-field" class="form__label">Номер телефона</label>
    {{{ input type="text" id="sms-for-receiver-field" name="insurance" unit="Р" }}}
  </dd>
</dl>
