<div class="form__fieldset form__fieldset--boxing">
  <div class="form__field">
    {{{ checkbox id="cardboard-box" name="cardboard-box" label="Коробка картонная" help="help" meta="50 руб. - 180 руб."}}}
  </div>
  <div class="form__field">
    {{{ checkbox id="transparent-film" name="transparent-film" label="Пленка стрейч прозрачная" help="help" meta="30 руб. за 1 м."}}}
  </div>
  <div class="form__field">
    {{{ checkbox id="safe-pack" name="safe-pack" label="Сейф пакет" help="help" meta="10 руб."}}}
  </div>
  <div class="form__field">
    {{{ checkbox id="black-film" name="black-film" label="Пленка стрейч черная" help="help" meta="30 руб. за 1 м."}}}
  </div>
  <div class="form__field form__field--span-2">
    {{{ checkbox id="bag-with-seal" name="bag-with-seal" label="Мешок полипропиленовый с пломбой" help="help" meta="50 руб. - 180 руб."}}}
  </div>
</div>
