<div class="form__section form__section--address">
  <div class="form__field">
    <label for="street-to" class="form__label">Улица</label>
    {{{ input type="text" id="street-to" name="street-to" }}}
  </div>
  <div class="form__field">
    <label for="building-to" class="form__label">Дом, корус, строение</label>
    {{{ input type="text" id="street-to" name="street-to" }}}
  </div>
  <div class="form__field">
    <label for="apartment-to" class="form__label">Кв. / офис</label>
    {{{ input type="text" id="apartment-to" name="apartment-to" }}}
  </div>
</div>
