<!--<div class="header-user">-->
<!--  <i class="header-user__icon">-->
<!--    <svg width="40" height="40">-->
<!--      <use xlink:href="{{root}}assets/img/symbol/sprite.svg#user"></use>-->
<!--    </svg>-->
<!--  </i>-->
<!--  <input type="checkbox" name="user-login" id="user-login" class="header-user__input">-->
<!--  <label for="user-login" class="header-user__label">Личный кабинет</label>-->
<!--  <ul class="header-user__dropdown">-->
<!--    <li class="header-user__item">-->
<!--      <a href="#" class="header-user__link">Вход</a>-->
<!--    </li>-->
<!--    <li class="header-user__item">-->
<!--      <a href="#" class="header-user__link">Регистрация</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<div class="header-user header-user--logged-in">
  <i class="header-user__icon">
    <svg width="27" height="27">
      <use xlink:href="{{root}}assets/img/symbol/sprite.svg#user-logged-in"></use>
    </svg>
  </i>
  <input type="checkbox" name="user-login" id="user-logged-in" class="header-user__input">
  <label for="user-logged-in" class="header-user__label">Пользователь</label>
  <ul class="header-user__dropdown">
    <li class="header-user__item">
      <a href="#" class="header-user__link">Заказать доставку</a>
    </li>
    <li class="header-user__item">
      <a href="#" class="header-user__link">Персональные данные</a>
    </li>
    <li class="header-user__item">
      <a href="#" class="header-user__link">Выйти</a>
    </li>
  </ul>
</div>
