<ul class="main-nav">
  <li class="main-nav__item">
    <a href="#" class="main-nav__link">
      Отследить посылку
    </a>
  </li>
  <li class="main-nav__item">
    <a href="#" class="main-nav__link">
      Расчет тарифа по Приморью
    </a>
  </li>
  <li class="main-nav__item main-nav__item--dropdown">
    <div href="#" class="main-nav__link">
      <span>Услуги</span>
    </div>
    <ul class="main-nav__dropdown">
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">Грузоперевозки по Приморскому краю</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">Грузоперевозки по России</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">Забор и доставка курьером</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">Доставка посылок из интернет-магазинов</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">Реализация нестандартных логистических задач</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">Страхование груза</a>
      </li>
    </ul>
  </li>
  <li class="main-nav__item main-nav__item--dropdown">
    <div href="#" class="main-nav__link" for="nav-info">
      <span>Информация</span>
    </div>
    <input type="radio" name="nav-items" id="nav-info" class="main-nav__input">
    <ul class="main-nav__dropdown">
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">Как отправить посылку</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">Как получить посылку</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">Правила приемки и отправки грузов</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">Тарифы на перевозку</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">Упаковки грузов и виды упаковки</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">Хранение груза на складах Bus-курьер</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">Доставка грузов и багажа из Аэропорта</a>
      </li>
    </ul>
  </li>
  <li class="main-nav__item">
    <a href="#" class="main-nav__link">
      Документы
    </a>
  </li>
  <li class="main-nav__item">
    <a href="#" class="main-nav__link">
      Контакты
    </a>
  </li>
</ul>
