<div class="mobile-nav">
  <div class="mobile-nav__header">
    <a href="#" class="mobile-nav__logo">

    </a>
    <a href="#" class="mobile-nav__contact">
      <svg width="15" height="15">
        <use xlink:href="{{root}}assets/img/symbol/sprite.svg#tel"></use>
      </svg>
    </a>
    <button id="mobileNavClose" class="mobile-nav__close"></button>
  </div>
  <div class="mobile-nav__scroll">
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="#" class="mobile-nav__link">Отследить посылку</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#" class="mobile-nav__link">Рассчет тарифа по Приморью</a>
      </li>
      <li class="mobile-nav__item">
        <input type="checkbox" name="mobile-services" id="mobile-services" class="mobile-nav__input">
        <label for="mobile-services" class="mobile-nav__link mobile-nav__link--toggle">Услуги</label>
        <ul class="mobile-nav__list mobile-nav__list--inner">
          <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Грузоперевозки по Приморскому краю</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Грузоперевозки в республике Татарстан</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Грузоперевозки по России</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Забор и доставка курьером</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Доставка посылок из интернет-магазинов</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Решение нестандартных логистических задач</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Страхование груза</a>
          </li>
        </ul>
      </li>
      <li class="mobile-nav__item">
        <input type="checkbox" name="mobile-info" id="mobile-info" class="mobile-nav__input">
        <label for="mobile-info" class="mobile-nav__link mobile-nav__link--toggle">Информация</label>
        <ul class="mobile-nav__list mobile-nav__list--inner">
          <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Как отправить посылку</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Как получить посылку</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Правила приемки и отправки грузов</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Тарифы на перевозку</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Упаковки грузов и виды упаковки</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Хранение груза на складах Bus-курьер</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Доставка грузов и багажа из Аэропорта</a>
          </li>
        </ul>
      </li>
      <li class="mobile-nav__item">
        <a href="#" class="mobile-nav__link">Документы</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#" class="mobile-nav__link">Контакты</a>
      </li>
    </ul>
  </div>
  <div class="mobile-nav__footer">
    <a href="#" class="link">inbox@busbox.guru</a>
    <a href="#" class="link">Политика конфиденциальности</a>
    <div>2013-2020 © ООО «Приморье»</div>
    <div>Идея и дизайн сайта: <a href="#" class="link">Lead Wave</a></div>
  </div>
</div>
