<div class="mobile-nav">
  <div class="mobile-nav__header">
    <a href="#" class="mobile-nav__logo">
      {{{ icon name="logo" width="68" height="40" }}}
    </a>
    <a href="tel: " class="mobile-nav__contact">
      {{{ icon name="tel" width="15" height="15" }}}
    </a>
    <button id="mobileNavClose" class="mobile-nav__close"></button>
  </div>
  <div class="mobile-nav__scroll">
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="{{root}}/track-parcels-by-number.html" class="mobile-nav__link">Отследить посылку</a>
      </li>
      <li class="mobile-nav__item">
        <a href="{{root}}/freight-rate-primorye.html" class="mobile-nav__link">Рассчет тарифа по Приморью</a>
      </li>
      <li class="mobile-nav__item">
        <input type="radio" name="mobile-nav" id="mobile-services" class="mobile-nav__input">
        <label for="mobile-services" class="mobile-nav__link mobile-nav__link--toggle">Услуги</label>
        <ul class="mobile-nav__list mobile-nav__list--inner">
          <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Грузоперевозки по Приморскому краю</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link">Грузоперевозки в республике Татарстан</a>
          </li>
          <li class="mobile-nav__item">
            <a href="{{root}}/delivery-russia.html" class="mobile-nav__link">Грузоперевозки по России</a>
          </li>
          <li class="mobile-nav__item">
            <a href="{{root}}/courier.html" class="mobile-nav__link">Забор и доставка курьером</a>
          </li>
          <li class="mobile-nav__item">
            <a href="{{root}}/non-standard-tasks.html" class="mobile-nav__link">Доставка посылок из интернет-магазинов</a>
          </li>
          <li class="mobile-nav__item">
            <a href="{{root}}/non-standard-tasks.html" class="mobile-nav__link">Решение нестандартных логистических задач</a>
          </li>
          <li class="mobile-nav__item">
            <a href="{{root}}/cargo-insurance.html" class="mobile-nav__link">Страхование груза</a>
          </li>
        </ul>
      </li>
      <li class="mobile-nav__item">
        <input type="radio" name="mobile-nav" id="mobile-info" class="mobile-nav__input">
        <label for="mobile-info" class="mobile-nav__link mobile-nav__link--toggle">Информация</label>
        <ul class="mobile-nav__list mobile-nav__list--inner">
          <li class="mobile-nav__item">
            <a href="{{root}}/how-to-sent-parcel.html" class="mobile-nav__link">Как отправить посылку</a>
          </li>
          <li class="mobile-nav__item">
            <a href="{{root}}/how-to-get-parcel.html" class="mobile-nav__link">Как получить посылку</a>
          </li>
          <li class="mobile-nav__item">
            <a href="{{root}}/rules-of-send-delivery-parcels.html" class="mobile-nav__link">Правила приемки и отправки грузов</a>
          </li>
          <li class="mobile-nav__item">
            <a href="{{root}}/transportation-rates.html" class="mobile-nav__link">Тарифы на перевозку</a>
          </li>
          <li class="mobile-nav__item">
            <a href="{{root}}/cargo-packing.html" class="mobile-nav__link">Упаковки грузов и виды упаковки</a>
          </li>
          <li class="mobile-nav__item">
            <a href="{{root}}/storage-of-cargo.html" class="mobile-nav__link">Хранение груза на складах Bus-курьер</a>
          </li>
          <li class="mobile-nav__item">
            <a href="{{root}}/delivery-from-airport.html" class="mobile-nav__link">Доставка грузов и багажа из Аэропорта</a>
          </li>
        </ul>
      </li>
      <li class="mobile-nav__item">
        <a href="{{root}}/documents-for-senders-and-recipients.html" class="mobile-nav__link">Документы</a>
      </li>
      <li class="mobile-nav__item">
        <a href="{{root}}/contacts.html" class="mobile-nav__link">Контакты</a>
      </li>
    </ul>
    <div class="mobile-nav__footer">
      <a href="mailto: inbox@busbox.guru" class="mobile-nav__footer-link mobile-nav__footer-link--lg"><b>inbox@busbox.guru</b></a>
      <a href="{{root}}/privacy-policy.html" class="mobile-nav__footer-link">Политика конфиденциальности</a>
      <div class="mobile-nav__text">2013-2020 © ООО «Приморье»</div>
      <div class="mobile-nav__text">Идея и дизайн сайта: <a href="#" class="link">Lead Wave</a></div>
    </div>
  </div>
</div>
