<!--Thank's modal-->
<article class="modal" style="display: none;">
  <div class="modal__content">
    <button type="button" class="modal__close">&#160;</button>
    <div class="modal__icon">
      {{{ icon name="envelope" width="65" height="65" }}}
    </div>
    <p class="modal__text">На почту, указанную в заявке, отправлено письмо с доступом в ваш личный кабинет! Пожалуйста, проверьте почту, а также папку «Спам»</p>
    <div class="modal__btn">
      {{{ btn type="button" text="Хорошо, спасибо!"}}}
    </div>
  </div>
</article>

<!--Sign-in-->
<article class="modal modal--theme-yellow" style="display: none;">
  <div class="modal__content">
    <button type="button" class="modal__close">&#160;</button>
    <h1 class="modal__title">Регистрация</h1>
    <div data-pickup-tabs class="tabs tabs--two tabs--invert tabs--nav-sm tabs--no-space">
      <ul class="tabs__nav">
        <li>
          <a data-tabby-default href="#physics">Для физ. лиц</a>
        </li>
        <li>
          <a href="#entity">Для юр. лиц</a>
        </li>
      </ul>
      <div id="physics" class="tabs__panel tabs__panel--pdt-sm">
        <form action="#" class="form form--no-margin" autocomplete="off">
          <div class="form__fieldset">
            <div class="form__field">
              <label for="user-name" class="form__label">ФИО</label>
              {{{ input type="text" id="user-name" name="user-name" mods="clean" placeholder="Петров Александр Максимович" error="Не заполнено"}}}
            </div>
            <div class="form__field">
              <label for="email" class="form__label">Почта</label>
              {{{ input type="email" id="email" name="email" mods="clean" placeholder="example@mail.ru" error="Не заполнено"}}}
            </div>
            <div class="form__field">
              <label for="tel" class="form__label">Телефон</label>
              {{{ input type="text" id="tel" name="tel" mods="clean" placeholder="+7 (__) __-__-__" error="Не заполнено"}}}
            </div>
            {{{ btn type="submit" text="Зарегистрироваться" mods="lg, black" }}}
          </div>
        </form>
      </div>
      <div id="entity" class="tabs__panel tabs__panel--pdt-sm">
        <form action="#" class="form form--no-margin" autocomplete="off">
          <div class="form__fieldset">
            <div class="form__field">
              <label for="entity-email" class="form__label">Почта</label>
              {{{ input type="email" id="entity-email" name="entity-email" mods="clean" placeholder="example@mail.ru" error="Не заполнено"}}}
            </div>
            <div class="form__field">
              <label for="entity-tel" class="form__label">Телефон</label>
              {{{ input type="text" id="entity-tel" name="entity-tel" mods="clean" placeholder="+7 (__) __-__-__" error="Не заполнено"}}}
            </div>
            {{{ btn type="submit" text="Зарегистрироваться" mods="lg, black" }}}
          </div>
        </form>
      </div>
    </div>
  </div>
</article>

<!--Log-in-->
<article class="modal modal--theme-yellow">
  <div class="modal__content">
    <button type="button" class="modal__close">&#160;</button>
    <h1 class="modal__title">Авторизация</h1>
    <form action="#" class="form" autocomplete="off">
      <div class="form__fieldset">
        <div class="form__field">
          <label for="login" class="form__label">Логин</label>
          {{{ input type="text" id="login" name="login" mods="clean" placeholder="Номер телефона" error="Не заполнено"}}}
        </div>
        <div class="form__field">
          <label for="password" class="form__label">Пароль</label>
          {{{ input type="password" id="password" name="password" mods="clean" value="********" error="Не заполнено"}}}
        </div>
        {{{ checkbox id="agree" name="agree" label="Запомнить" mods="md, inverted"}}}
        {{{ btn type="submit" text="Авторизоваться" mods="lg, black" }}}
        {{{ link href="#" text="Регистрация" mods="lg, no-underline, justify-center"}}}
      </div>
    </form>
  </div>
</article>
