<footer class="page-footer">
  <div class="page-footer__container">
    <div class="page-footer__top">
      <a href="#" class="page-footer__logo page-footer__logo--desktop">
        <svg>
          <use xlink:href="{{root}}assets/img/symbol/sprite.svg#footer-logo"></use>
        </svg>
      </a>
      <ul class="page-footer__nav">
        <li>
          <a href="#" class="page-footer__link">Отследить посылку</a>
        </li>
        <li>
          <a href="#" class="page-footer__link">Рассчет тарифа по Приморью</a>
        </li>
        <li>
          <a href="#" class="page-footer__link">Услуги</a>
        </li>
        <li>
          <a href="#" class="page-footer__link">Информация</a>
        </li>
        <li>
          <a href="#" class="page-footer__link">Документы</a>
        </li>
        <li>
          <a href="#" class="page-footer__link">Контакты</a>
        </li>
      </ul>
    </div>
    <div class="page-footer__main">
      <div class="page-footer__item page-footer__item--desktop page-footer__item--services">
        <b class="page-footer__header">
          <a href="#" class="page-footer__link">Услуги</a>
        </b>
        <ul class="page-footer__list">
          <li>
            <a href="" class="page-footer__link">Грузоперевозки по Приморскому краю</a>
          </li>
          <li>
            <a href="" class="page-footer__link">Грузоперевозки в республике Татарстан</a>
          </li>
          <li>
            <a href="" class="page-footer__link">Грузоперевозки по России</a>
          </li>
          <li>
            <a href="" class="page-footer__link">Забор и доставка курьером</a>
          </li>
          <li>
            <a href="" class="page-footer__link">Доставка посылок из интернет-магазинов</a>
          </li>
          <li>
            <a href="" class="page-footer__link">Решение нестандартных логистических задач</a>
          </li>
          <li>
            <a href="" class="page-footer__link">Страхование груза</a>
          </li>
        </ul>
      </div>
      <div class="page-footer__item page-footer__item--desktop">
        <b class="page-footer__header">
          <a href="#" class="page-footer__link">Информация</a>
        </b>
        <ul class="page-footer__list">
          <li>
            <a href="" class="page-footer__link page-footer__link--sm">Как отправить посылку</a>
          </li>
          <li>
            <a href="" class="page-footer__link page-footer__link--sm">Как получить посылку</a>
          </li>
          <li>
            <a href="" class="page-footer__link page-footer__link--sm">Правила приемки и отправки грузов</a>
          </li>
          <li>
            <a href="" class="page-footer__link page-footer__link--sm">Тарифы на перевозку</a>
          </li>
          <li>
            <a href="" class="page-footer__link page-footer__link--sm">Упаковки грузов и виды упаковки</a>
          </li>
          <li>
            <a href="" class="page-footer__link page-footer__link--sm">Доставка грузов и багажа из Аэропорта</a>
          </li>
          <li>
            <a href="" class="page-footer__link page-footer__link--sm">Франшиза Bus-Курьер</a>
          </li>
        </ul>
      </div>
      <div class="page-footer__item page-footer__item--desktop">
        <b class="page-footer__header">
          <a href="#" class="page-footer__link">Сервисы</a>
        </b>
        <ul class="page-footer__list">
          <li>
            <a href="" class="page-footer__link page-footer__link--sm">Поиск заказа</a>
          </li>
          <li>
            <a href="" class="page-footer__link page-footer__link--sm">Личный кабинет</a>
          </li>
          <li>
            <a href="" class="page-footer__link page-footer__link--sm">Онлайн-заявка</a>
          </li>
          <li>
            <a href="" class="page-footer__link page-footer__link--sm">Расчет тарифа по Приморью</a>
          </li>
          <li>
            <a href="" class="page-footer__link page-footer__link--sm">Расчет тарифа по Республике Татарстан</a>
          </li>
          <li>
            <a href="" class="page-footer__link page-footer__link--sm">Расчет тарифа по России</a>
          </li>
        </ul>
        <ul class="page-footer__list">
          <li>
            <b><a href="#" class="page-footer__link">О компании</a></b>
          </li>
          <li>
            <b><a href="#" class="page-footer__link">Вакансии</a></b>
          </li>
          <li>
            <b><a href="" class="page-footer__link">Документы</a></b>
          </li>
          <li>
            <b><a href="" class="page-footer__link">Обратная связь</a></b>
          </li>
          <li>
            <b><a href="" class="page-footer__link">Контакты</a></b>
          </li>
        </ul>
      </div>
      <div class="page-footer__item page-footer__item--contacts">
        <a href="#" class="page-footer__logo page-footer__logo--mobile">
          <svg>
            <use xlink:href="{{root}}assets/img/symbol/sprite.svg#footer-logo"></use>
          </svg>
        </a>
        <a href="#" class="page-footer__contact">
          <svg width="15" height="15">
            <use xlink:href="assets/img/symbol/sprite.svg#tel"></use>
          </svg>
          <span>8 800 222 22 68</span>
        </a>
        <a href="#" class="page-footer__link page-footer__link--location">
          <svg width="13" height="13">
            <use xlink:href="assets/img/symbol/sprite.svg#footer-arrow"></use>
          </svg>
          <span class="page-footer__link-text">Приморский край</span>
        </a>
        <a href="mailto: inbox@busbox.guru" class="page-footer__link page-footer__link--email">inbox@busbox.guru</a>
      </div>
    </div>
    <div class="page-footer__bottom">
      <div class="page-footer__item">
        <small class="page-footer__text">2013-2020 © ООО «Приморье»</small>
      </div>
      <div class="page-footer__item">
        <a href="#" class="page-footer__link page-footer__link--sm">Политика конфиденциальности</a>
      </div>
      <div class="page-footer__item">
        <small href="#" class="page-footer__text">Идея и дизайн сайта: </small>
        <a href="#" class="page-footer__link">LEAD WAVE</a>
      </div>
    </div>
  </div>
</footer>
