<footer class="page-footer">
  <div class="page-footer__container">
    <div class="page-footer__top">
      <a href="/" class="page-footer__logo page-footer__logo--desktop">
        {{{ icon name="footer-logo" }}}
      </a>
      <ul class="page-footer__nav">
        <li>
          <a href="{{root}}/track-parcels-by-number.html" class="page-footer__link">Отследить посылку</a>
        </li>
        <li>
          <a href="{{root}}/freight-rate-primorye.html" class="page-footer__link">Рассчет тарифа по Приморью</a>
        </li>
        <li>
          <a href="{{root}}/our-services.html" class="page-footer__link">Услуги</a>
        </li>
        <li>
          <a href="{{root}}/info.html" class="page-footer__link">Информация</a>
        </li>
        <li>
          <a href="{{root}}/documents-for-senders-and-recipients.html" class="page-footer__link">Документы</a>
        </li>
        <li>
          <a href="{{root}}/contacts.html" class="page-footer__link">Контакты</a>
        </li>
      </ul>
    </div>
    <div class="page-footer__main">
      <div class="page-footer__item page-footer__item--desktop page-footer__item--services">
        <b class="page-footer__header">
          <a href="{{root}}/our-services.html" class="page-footer__link">Услуги</a>
        </b>
        <ul class="page-footer__list">
          <li>
            <a href="delivery-primorye.html" class="page-footer__link">Грузоперевозки по Приморскому краю</a>
          </li>
          <li>
            <a href="delivery-tatarstan.html" class="page-footer__link">Грузоперевозки в республике Татарстан</a>
          </li>
          <li>
            <a href="{{root}}/delivery-russia.html" class="page-footer__link">Грузоперевозки по России</a>
          </li>
          <li>
            <a href="{{root}}/courier.html" class="page-footer__link">Забор и доставка курьером</a>
          </li>
          <li>
            <a href="{{root}}/delivery-from-online-shop.html" class="page-footer__link">Доставка посылок из интернет-магазинов</a>
          </li>
          <li>
            <a href="{{root}}/non-standard-tasks.html" class="page-footer__link">Решение нестандартных логистических задач</a>
          </li>
          <li>
            <a href="{{root}}/cargo-insurance.html" class="page-footer__link">Страхование груза</a>
          </li>
        </ul>
      </div>
      <div class="page-footer__item page-footer__item--desktop">
        <b class="page-footer__header">
          <a href="{{root}}/info.html" class="page-footer__link">Информация</a>
        </b>
        <ul class="page-footer__list">
          <li>
            <a href="{{root}}/how-to-sent-parcel.html" class="page-footer__link page-footer__link--sm">Как отправить посылку</a>
          </li>
          <li>
            <a href="{{root}}/how-to-get-parcel.html" class="page-footer__link page-footer__link--sm">Как получить посылку</a>
          </li>
          <li>
            <a href="{{root}}/rules-of-send-delivery-parcels.html" class="page-footer__link page-footer__link--sm">Правила приемки и отправки грузов</a>
          </li>
          <li>
            <a href="{{root}}/transportation-rates.html" class="page-footer__link page-footer__link--sm">Тарифы на перевозку</a>
          </li>
          <li>
            <a href="{{root}}/cargo-packing.html" class="page-footer__link page-footer__link--sm">Упаковки грузов и виды упаковки</a>
          </li>
          <li>
            <a href="{{root}}/delivery-from-airport.html" class="page-footer__link page-footer__link--sm">Доставка грузов и багажа из Аэропорта</a>
          </li>
          <li>
            <a href="{{root}}/franchise.html" class="page-footer__link page-footer__link--sm">Франшиза Bus-Курьер</a>
          </li>
        </ul>
      </div>
      <div class="page-footer__item page-footer__item--desktop">
        <b class="page-footer__header">
          <a href="{{root}}/services.html" class="page-footer__link">Сервисы</a>
        </b>
        <ul class="page-footer__list">
          <li>
            <a href="{{root}}/search-order.html" class="page-footer__link page-footer__link--sm">Поиск заказа</a>
          </li>
          <li>
            <a href="{{root}}/account.html" class="page-footer__link page-footer__link--sm">Личный кабинет</a>
          </li>
          <li>
            <a href="{{root}}/request.html"  class="page-footer__link page-footer__link--sm">Онлайн-заявка</a>
          </li>
          <li>
            <a href="{{root}}/freight-rate-primorye.html" class="page-footer__link page-footer__link--sm">Расчет тарифа по Приморью</a>
          </li>
          <li>
            <a href="{{root}}/freight-rate-kazan.html" class="page-footer__link page-footer__link--sm">Расчет тарифа по Республике Татарстан</a>
          </li>
          <li>
            <a href="{{root}}/freight-rate-russia.html" class="page-footer__link page-footer__link--sm">Расчет тарифа по России</a>
          </li>
        </ul>
        <ul class="page-footer__list">
          <li>
            <b><a href="{{root}}/about.html" class="page-footer__link">О компании</a></b>
          </li>
          <li>
            <b><a href="{{root}}/work-in-team.html" class="page-footer__link">Вакансии</a></b>
          </li>
          <li>
            <b><a href="{{root}}/documents-for-senders-and-recipients.html" class="page-footer__link">Документы</a></b>
          </li>
          <li>
            <b><a href="{{root}}/feedback.html" class="page-footer__link">Обратная связь</a></b>
          </li>
          <li>
            <b><a href="{{root}}/contacts.html" class="page-footer__link">Контакты</a></b>
          </li>
        </ul>
      </div>
      <div class="page-footer__item page-footer__item--contacts">
        <a href="#" class="page-footer__logo page-footer__logo--mobile">
          {{{ icon name="footer-logo" }}}
        </a>
        <a href="tel: " class="page-footer__contact">
          {{{ icon name="tel" width="15" height="15" }}}
          <span>8 800 222 22 68</span>
        </a>
        <a href="#" class="page-footer__link page-footer__link--location">
          {{{ icon name="footer-arrow" width="13" height="13" }}}
          <span class="page-footer__link-text">Приморский край</span>
        </a>
        <a href="mailto: inbox@busbox.guru" class="page-footer__link page-footer__link--email">inbox@busbox.guru</a>
      </div>
    </div>
    <div class="page-footer__bottom">
      <div class="page-footer__item">
        <small class="page-footer__text">2013-2020 © ООО «Приморье»</small>
      </div>
      <div class="page-footer__item">
        <a href="{{root}}/privacy-policy.html" class="page-footer__link page-footer__link--sm">Политика конфиденциальности</a>
      </div>
      <div class="page-footer__item">
        <small href="#" class="page-footer__text">Идея и дизайн сайта: </small>
        <a href="#" class="page-footer__link">LEAD WAVE</a>
      </div>
    </div>
  </div>
</footer>
