<header class="page-header">
  <div class="page-header__inner">
    <a href="#" class="page-header__logo">
      <svg width="129" height="78">
        <use xlink:href="{{root}}assets/img/symbol/sprite.svg#logo"></use>
      </svg>
    </a>
    <div class="page-header__top">
      {{> area-selector}}
      <div class="page-header__contact">
        <svg width="15" height="15">
          <use xlink:href="{{root}}assets/img/symbol/sprite.svg#tel"></use>
        </svg>
        <span>8 800 222 22 68</span>
      </div>
      {{> header-user}}
    </div>
    <nav class="page-header__nav">
      {{> main-nav}}
    </nav>
  </div>
</header>
