<header class="page-header">
  <div class="page-header__inner">
    <a href="#" class="page-header__logo">Logo</a>
    <div class="page-header__top">
      {{> area-selector}}
      <div class="page-header__contact">
        <svg width="15" height="15">
          <use xlink:href="{{root}}assets/img/symbol/sprite.svg#tel"></use>
        </svg>
        <span>8 800 222 22 68</span>
      </div>
      {{> header-user}}
    </div>
    <nav class="page-header__nav">
      nav
    </nav>
  </div>
</header>
