<div data-slider="" class="slider swiper-container">
  <div class="slider-wrapper swiper-wrapper">
      {{#each slider-images}}
        <div class="slider-img swiper-slide" data-src="{{root}}assets/img/content/{{ name }}.jpg">
          <div class="slider-img-overlay">
            {{{ icon name="eye" width="30" height="30" }}}
          </div>
          <img width="190" height="117" src="{{root}}assets/img/content/{{ name }}.jpg" alt="{{ label }}">
        </div>
      {{/each}}
  </div>
  <button type="button" class="slider-btn slider-btn--next swiper-button-next">
    {{{ icon name="arrow" width="20" height="19" }}}
  </button>
  <button type="button" class="slider-btn slider-btn--prev swiper-button-prev">
    {{{ icon name="arrow" width="20" height="19" }}}
  </button>
</div>
