<div class="table">
  <div class="table__scroll">
    <table class="table__content">
      <thead>
      <tr>
        <th>Заказ</th>
        <th>Дата заказа</th>
        <th>Отправитель</th>
        <th>Получатель</th>
        <th>Город отправления</th>
        <th>Город получения</th>
        <th>Стоимость</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>№ 614933</td>
        <td>2020-04-03</td>
        <td>Ким-Мельникова А.А.</td>
        <td>Петрухи А.А.</td>
        <td>Владивосток</td>
        <td>Уссурийск</td>
        <td>150.00</td>
      </tr>
      <tr>
        <td>№ 614933</td>
        <td>2020-04-03</td>
        <td>Ким-Мельникова А.А.</td>
        <td>Петрухи А.А.</td>
        <td>Владивосток</td>
        <td>Уссурийск</td>
        <td>150.00</td>
      </tr>
      <tr>
        <td>№ 614933</td>
        <td>2020-04-03</td>
        <td>Ким-Мельникова А.А.</td>
        <td>Петрухи А.А.</td>
        <td>Владивосток</td>
        <td>Уссурийск</td>
        <td>150.00</td>
      </tr>
      <tr>
        <td>№ 614933</td>
        <td>2020-04-03</td>
        <td>Ким-Мельникова А.А.</td>
        <td>Петрухи А.А.</td>
        <td>Владивосток</td>
        <td>Уссурийск</td>
        <td>150.00</td>
      </tr>
      <tr>
        <td>№ 614933</td>
        <td>2020-04-03</td>
        <td>Ким-Мельникова А.А.</td>
        <td>Петрухи А.А.</td>
        <td>Владивосток</td>
        <td>Уссурийск</td>
        <td>150.00</td>
      </tr>
      <tr>
        <td>№ 614933</td>
        <td>2020-04-03</td>
        <td>Ким-Мельникова А.А.</td>
        <td>Петрухи А.А.</td>
        <td>Владивосток</td>
        <td>Уссурийск</td>
        <td>150.00</td>
      </tr>
      <tr>
        <td>№ 614933</td>
        <td>2020-04-03</td>
        <td>Ким-Мельникова А.А.</td>
        <td>Петрухи А.А.</td>
        <td>Владивосток</td>
        <td>Уссурийск</td>
        <td>150.00</td>
      </tr>
      <tr>
        <td>№ 614933</td>
        <td>2020-04-03</td>
        <td>Ким-Мельникова А.А.</td>
        <td>Петрухи А.А.</td>
        <td>Владивосток</td>
        <td>Уссурийск</td>
        <td>150.00</td>
      </tr>
      <tr>
        <td>№ 614933</td>
        <td>2020-04-03</td>
        <td>Ким-Мельникова А.А.</td>
        <td>Петрухи А.А.</td>
        <td>Владивосток</td>
        <td>Уссурийск</td>
        <td>150.00</td>
      </tr>
      <tr>
        <td>№ 614933</td>
        <td>2020-04-03</td>
        <td>Ким-Мельникова А.А.</td>
        <td>Петрухи А.А.</td>
        <td>Владивосток</td>
        <td>Уссурийск</td>
        <td>150.00</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="table__scrollbar"></div>
</div>
