<div class="table">
  <div class="table__scroll">
    <table class="table__data">
      <thead>
      <tr>
        <th>Дата заказа</th>
        <th>Заказ</th>
        <th>Cумма заказа</th>
        <th>Статус</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>2020-04-03</td>
          <td>
            {{{ link href="#" text="№ 614933" mods="blue, no-underline"}}}
          </td>
          <td>150.00</td>
          <td>Готов к выдаче</td>
        </tr>
        <tr>
          <td>2020-04-03</td>
          <td>
            {{{ link href="#" text="№ 614933" mods="blue, no-underline"}}}
          </td>
          <td>150.00</td>
          <td>Готов к выдаче</td>
        </tr>
        <tr>
          <td>2020-04-03</td>
          <td>
            {{{ link href="#" text="№ 614933" mods="blue, no-underline"}}}
          </td>
          <td>150.00</td>
          <td>Готов к выдаче</td>
        </tr>
        <tr>
          <td>2020-04-03</td>
          <td>
            {{{ link href="#" text="№ 614933" mods="blue, no-underline"}}}
          </td>
          <td>150.00</td>
          <td>Готов к выдаче</td>
        </tr>
        <tr>
          <td>2020-04-03</td>
          <td>
            {{{ link href="#" text="№ 614933" mods="blue, no-underline"}}}
          </td>
          <td>150.00</td>
          <td>Готов к выдаче</td>
        </tr>
        <tr>
          <td>2020-04-03</td>
          <td>
            {{{ link href="#" text="№ 614933" mods="blue, no-underline"}}}
          </td>
          <td>150.00</td>
          <td>Готов к выдаче</td>
        </tr>
        <tr>
          <td>2020-04-03</td>
          <td>
            {{{ link href="#" text="№ 614933" mods="blue, no-underline"}}}
          </td>
          <td>150.00</td>
          <td>Готов к выдаче</td>
        </tr>
        <tr>
          <td>2020-04-03</td>
          <td>
            {{{ link href="#" text="№ 614933" mods="blue, no-underline"}}}
          </td>
          <td>150.00</td>
          <td>Готов к выдаче</td>
        </tr>
        <tr>
          <td>2020-04-03</td>
          <td>
            {{{ link href="#" text="№ 614933" mods="blue, no-underline"}}}
          </td>
          <td>150.00</td>
          <td>Готов к выдаче</td>
        </tr>
        <tr>
          <td>2020-04-03</td>
          <td>
            {{{ link href="#" text="№ 614933" mods="blue, no-underline"}}}
          </td>
          <td>150.00</td>
          <td>Готов к выдаче</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
