<div class="accordion" data-pickup-selector>
  <div class="accordion__section">
    <input type="radio" class="accordion__input" name="accordion-{{name}}" id="{{name}}-tab-1" checked="true" data-id="vladivostok">
    <label for="{{name}}-tab-1" class="accordion__nav">
      <b class="accordion__label">Владивосток <span>(2 отделения)</span></b>
      <i class="accordion__indicator"></i>
    </label>
    <div data-tab="tab-1" class="accordion__content">
      {{> contact-box}}
    </div>
  </div>
  <div class="accordion__section">
    <input type="radio" class="accordion__input" name="accordion-{{name}}" id="{{name}}-tab-2" data-id="ussurysk">
    <label for="{{name}}-tab-2" class="accordion__nav">
      <b class="accordion__label">Уссурийск <span>(2 отделения)</span></b>
      <i class="accordion__indicator"></i>
    </label>
    <div data-tab="tab-2" class="accordion__content">
      {{> contact-box}}
    </div>
  </div>
  <div class="accordion__section">
    <input type="radio" class="accordion__input" name="accordion-{{name}}" id="{{name}}-tab-3" data-id="nakhodka">
    <label for="{{name}}-tab-3" class="accordion__nav">
      <b class="accordion__label">Находка <span>(1 отделение)</span></b>
      <i class="accordion__indicator"></i>
    </label>
    <div data-tab="tab-3" class="accordion__content">
      {{> contact-box}}
    </div>
  </div>
</div>
