<dl class="contact-box contact-box--border">
  <dt class="contact-box__text"><b>Адрес: </b></dt>
  <dd class="contact-box__text">ул. Русская 2а ст. 3</dd>
  <dt class="contact-box__text"><b>Режим работы: </b></dt>
  <dd class="contact-box__text">с 8:00 до 20:00, без выходных</dd>
</dl>
<dl class="contact-box">
  <dt class="contact-box__text"><b>Адрес: </b></dt>
  <dd class="contact-box__text">ул. Русская 2а ст. 3</dd>
  <dt class="contact-box__text"><b>Режим работы: </b></dt>
  <dd class="contact-box__text">с 8:00 до 20:00, без выходных</dd>
</dl>
