<div class="swiper swiper--shadow">
  <div data-slider class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide box box--iml">
        <svg>
          <use xlink:href="{{root}}assets/img/symbol/sprite.svg#iml"></use>
        </svg>
      </div>
      <div class="swiper-slide box box--boxberry">
        <svg>
          <use xlink:href="{{root}}assets/img/symbol/sprite.svg#boxberry"></use>
        </svg>
      </div>
      <div class="swiper-slide box box--hermes">
        <svg>
          <use xlink:href="{{root}}assets/img/symbol/sprite.svg#hermes"></use>
        </svg>
      </div>
      <div class="swiper-slide box box--kce">
        <svg>
          <use xlink:href="{{root}}assets/img/symbol/sprite.svg#kce"></use>
        </svg>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <button class="swiper-button swiper-button-prev"></button>
  <button class="swiper-button swiper-button-next"></button>
</div>
