<div class="swiper swiper--shadow">
  <div data-slider class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide box box--shopping-live box--shadow-right">
        <svg>
          <use xlink:href="{{root}}assets/img/symbol/sprite.svg#shopping-live"></use>
        </svg>
      </div>
      <div class="swiper-slide box box--decathlon">
        <svg>
          <use xlink:href="{{root}}assets/img/symbol/sprite.svg#decathlon"></use>
        </svg>
      </div>
      <div class="swiper-slide box box--zara">
        <svg>
          <use xlink:href="{{root}}assets/img/symbol/sprite.svg#zara"></use>
        </svg>
      </div>
      <div class="swiper-slide box box--child-world">
        <svg>
          <use xlink:href="{{root}}assets/img/symbol/sprite.svg#child-world"></use>
        </svg>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <button class="swiper-button swiper-button-prev"></button>
  <button class="swiper-button swiper-button-next"></button>
</div>
