<div data-tabs class="tabs">
  <ul class="tabs__nav">
    <li>
      <a data-tabby-default href="#boxBerry">BoxBerry <span>(4 отделения)</span></a>
    </li>
    <li>
      <a href="#iml">IML <span>(2 отделения)</span></a>
    </li>
    <li>
      <a href="#hermes">Hermes <span>(4 отделения)</span></a>
    </li>
    <li>
      <a href="#kce">КСЭ <span>(1 отделение)</span></a>
    </li>
  </ul>

  <div id="boxBerry" class="tabs__panel">
    <div class="tabs__content">
      {{> accordion}}
      <div class="map">
        <div class="map__content"></div>
      </div>
    </div>
  </div>

  <div id="iml" class="tabs__panel">
    <h2>Hermione</h2>

    <p><strong>Fun Facts:</strong></p>
    <ol>
      <li>The real hero of the Harry Potter series</li>
      <li>Underappreciated by her friends, but always saves the day</li>
      <li>Harry somehow gets credit for her accomplishments on a regular basis</li>
    </ol>
    <p><a href="https://en.wikipedia.org/wiki/Hermione_Granger">More about Hermione &rarr;</a></p>
  </div>

  <div id="hermes" class="tabs__panel">
    <h2>Neville</h2>

    <p><strong>Fun Facts:</strong></p>
    <ol>
      <li>The surprise hero of the last book</li>
      <li>His life is forever intertwined with Harry's</li>
      <li>Total badass</li>
    </ol>
    <p><a href="https://www.pottermore.com/explore-the-story/neville-longbottom">More about Neville &rarr;</a></p>
  </div>

  <div id="kce" class="tabs__panel">
    <h2>Nekkki</h2>

    <p><strong>Fun Facts:</strong></p>
    <ol>
      <li>The surprise hero of the last book</li>
      <li>His life is forever intertwined with Harry's</li>
      <li>Total badass</li>
    </ol>
    <p><a href="https://www.pottermore.com/explore-the-story/neville-longbottom">More about Neville &rarr;</a></p>
  </div>

</div>

