<div data-pickup-tabs class="tabs">
  <ul class="tabs__nav">
    <li>
      <a href="#boxBerry">BoxBerry <span>(4 отделения)</span></a>
    </li>
    <li>
      <a data-tabby-default href="#iml">IML <span>(2 отделения)</span></a>
    </li>
    <li>
      <a href="#hermes">Hermes <span>(4 отделения)</span></a>
    </li>
    <li>
      <a href="#kce">КСЭ <span>(1 отделение)</span></a>
    </li>
  </ul>

  <div id="boxBerry" class="tabs__panel">
    <div class="tabs__content">
      {{> accordion name="boxberry"}}
      <div class="map">
        <div class="map__content"></div>
      </div>
    </div>
  </div>

  <div id="iml" class="tabs__panel">
    <div class="tabs__content">
      {{> accordion name="iml"}}
      <div class="map">
        <div class="map__content"></div>
      </div>
    </div>
  </div>

  <div id="hermes" class="tabs__panel">
    <div class="tabs__content">
      {{> accordion name="hermes"}}
      <div  class="map">
        <div class="map__content"></div>
      </div>
    </div>
  </div>

  <div id="kce" class="tabs__panel">
    <div class="tabs__content">
      {{> accordion name="kce"}}
      <div  class="map">
        <div class="map__content"></div>
      </div>
    </div>
  </div>

</div>

