<div data-pickup-tabs class="tabs tabs--accordeon">
  <input type="radio" name="pick-up-tabs" id="boxberryTab" hidden>
  <input type="radio" name="pick-up-tabs" id="imlTab" hidden>
  <input type="radio" name="pick-up-tabs" id="hermesTab" hidden>
  <input type="radio" name="pick-up-tabs" id="kceTab" hidden>

  <div class="tabs__item">
    <label for="boxberryTab">BoxBerry <span>(4 отделения)</span></label>
  </div>
  <div class="tabs__item">
    <label for="imlTab">IML <span>(2 отделения)</span></label>
  </div>
  <div class="tabs__item">
    <label for="hermesTab">Hermes <span>(4 отделения)</span></label>
  </div>
  <div class="tabs__item">
    <label for="kceTab">КСЭ <span>(1 отделение)</span></label>
  </div>

  <div id="boxberry" class="tabs__panel">
    <div class="tabs__content">
      {{> accordion name="boxberry"}}
      <div class="map">
        <div class="map__content"></div>
      </div>
    </div>
  </div>

  <div id="iml" class="tabs__panel">
    <div class="tabs__content">
      {{> accordion name="iml"}}
      <div class="map">
        <div class="map__content"></div>
      </div>
    </div>
  </div>

  <div id="hermes" class="tabs__panel">
    <div class="tabs__content">
      {{> accordion name="hermes"}}
      <div  class="map">
        <div class="map__content"></div>
      </div>
    </div>
  </div>

  <div id="kce" class="tabs__panel">
    <div class="tabs__content">
      {{> accordion name="kce"}}
      <div  class="map">
        <div class="map__content"></div>
      </div>
    </div>
  </div>

</div>

