<form action="#" class="form" autocomplete="off">
  <section class="form__section form__section--delivery">
    <label class="form__label form__label--lg">Откуда</label>
    <div class="form__field">
      {{{ select
      id="delivery-from"
      name="delivery-from"
      data='[
      {"value": "", "name": "Выберите город"},
      {"value": "nakhodka", "name": "Находка"},
      {"value": "arseniev", "name": "Арсеньев"}]'
      }}}
    </div>
    <label class="form__label form__label--lg">Куда</label>
    <div class="form__field">
      {{{ select
      id="delivery-to"
      name="delivery-to"
      data='[
      {"value": "", "name": "Выберите город"},
      {"value": "nakhodka", "name": "Находка"},
      {"value": "arseniev", "name": "Арсеньев"}]'
      }}}
    </div>
    <button type="button" class="form__refresh">
      <svg class="icon" width="18px" height="18px">
        <use xlink:href="{{root}}assets/img/symbol/sprite.svg#refresh"></use>
      </svg>
    </button>
    {{{ switcher name="city-from" items='[{"id": "city-from-1", "name": "Сдать в отделение", "checked": "true"}, {"id": "city-from-2", "name": "Вызвать курьера"}]' }}}
    {{{ switcher name="city-to" items='[{"id": "city-to-1", "name": "Забрать в отделении"}, {"id": "city-to-2", "name": "Доставка курьером", "checked": "true"}]' }}}
    <div>
      <div class="active" data-content="city-from-1">
        {{> fieldset--department}}
      </div>
      <div data-content="city-from-2">
        {{> fieldset--address}}
        {{> fieldset--schedule}}
      </div>
    </div>
    <div>
      <div data-content="city-to-1">
        {{> fieldset--department}}
      </div>
      <div class="active" data-content="city-to-2">
        {{> fieldset--address}}
        {{> fieldset--schedule}}
      </div>
    </div>
  </section>
  {{> fieldset--tags}}
  {{> fieldset--goods-type}}
  <div class="active" data-content="goods-type-docs">
    <div class="form__field">
      <label class="form__label">Количество мест</label>
      {{{ counter name="place-count" }}}
    </div>
  </div>
  <div data-content="goods-type-package">
    {{> fieldset--package delete="true"}}
    {{> fieldset--package error="true" delete="true"}}
    {{> fieldset--package }}
    {{{ btn text="Добавить еще 1 позицию" }}}
  </div>
  <div data-content="goods-type-auto">
    <label class="form__label">Выберите тип запчасти</label>
    {{> fieldset--auto-part delete="true"}}
    {{> fieldset--auto-part }}
    {{{ btn text="Добавить еще 1 позицию" }}}
  </div>
  <div data-content="goods-type-other">
    Что-то другое ...
  </div>
  {{> fieldset--boxing }}
  {{> fieldset--add-services }}
  {{{ btn text="Рассчитать стоимость" }}}
</form>
