<form action="#" class="form" autocomplete="off">
  <section class="form__section form__section--delivery">
    <label class="form__label form__label--lg">Откуда</label>
    {{{ select
    id="delivery-from"
    name="delivery-from"
    data='[
      {"value": "", "name": "Выберите город"},
      {"value": "nakhodka", "name": "Находка"},
      {"value": "arseniev", "name": "Арсеньев"}]'
    }}}
    <label class="form__label form__label--lg">Куда</label>
    {{{ select
    id="delivery-to"
    name="delivery-to"
    data='[
      {"value": "", "name": "Выберите город"},
      {"value": "nakhodka", "name": "Находка"},
      {"value": "arseniev", "name": "Арсеньев"}]'
    }}}
    <button type="button" class="form__refresh">
      <svg class="icon" width="18px" height="18px">
        <use xlink:href="{{root}}assets/img/symbol/sprite.svg#refresh"></use>
      </svg>
    </button>
    {{{ switcher name="city-from" items='[{"id": "city-from-1", "name": "Сдать в отделение", "checked": "true"}, {"id": "city-from-2", "name": "Вызвать курьера"}]' }}}
    {{{ switcher name="city-to" items='[{"id": "city-to-2", "name": "Забрать в отделении", "checked": "true"}, {"id": "city-to-2", "name": "Доставка курьером"}]' }}}
    <section class="form__section form__section--department">
      <label class="form__label form__label--light">Выберите отделение:</label>
      <div class="form__field">
        {{{ radio name="department" label="Владивосток, Гоголя 22" }}}
      </div>
      <div class="form__field">
        {{{ radio name="department" label="Владивосток, Карла Маркса" }}}
      </div>
    </section>
    <div class="form__section form__section--address">
      <div class="form__field">
        <label for="street-to" class="form__label">Улица</label>
        {{{ input type="text" id="street-to" name="street-to" }}}
      </div>
      <div class="form__field">
        <label for="building-to" class="form__label">Дом, корус, строение</label>
        {{{ input type="text" id="street-to" name="street-to" }}}
      </div>
      <div class="form__field">
        <label for="apartment-to" class="form__label">Кв. / офис</label>
        {{{ input type="text" id="apartment-to" name="apartment-to" }}}
      </div>
      <div class="form__section form__section--schedule">
        <label class="form__label form__label--light">Удобное время для приезда курьера</label>
        <div class="form__field">
          {{{ radio name="delivery-time" label="8:00 - 14:00" }}}
        </div>
        <div class="form__field">
          {{{ radio name="delivery-time" label="14:00 - 18:00" }}}
        </div>
      </div>
    </div>
  </section>
  <section class="form__section form__section--tags">
    {{{ form-tag label="Груз №1" checked="true" }}}
    {{{ form-tag label="Груз №2" }}}
    {{{ form-tag add="true" }}}
  </section>
  <section class="form__section form__section--goods-type">
    <label class="form__label form__label--lg">Тип груза:</label>
    <div class="form__field">
      {{{ radio name="goods-type" label="Документы" }}}
    </div>
    <div class="form__field">
      {{{ radio name="goods-type" label="Посылки" }}}
    </div>
    <div class="form__field">
      {{{ radio name="goods-type" label="Автозапчасти" }}}
    </div>
    <div class="form__field">
      {{{ radio name="goods-type" label="Другое" }}}
    </div>
  </section>
  <div class="form__field">
    <label class="form__label">Количество мест</label>
    {{{ counter name="place-count" }}}
  </div>
  <div>
    {{> package-params-row  delete="true"}}
    {{> package-params-row error="true" delete="true"}}
    {{> package-params-row }}
    {{{ btn text="Добавить еще 1 позицию" }}}
  </div>
  <div>
    <label class="form__label">Выберите тип запчасти</label>
    {{> auto-part-params delete="true"}}
    {{> auto-part-params }}
    {{{ btn text="Добавить еще 1 позицию" }}}
  </div>
  <div class="form__label form__label--lg">Упаковка:</div>
  <section class="form__section form__section--package">
    <div class="form__field">
      {{{ checkbox name="cardboard-box" label="Коробка картонная" help="help" meta="50 руб. - 180 руб."}}}
    </div>
    <div class="form__field">
      {{{ checkbox name="transparent-film" label="Пленка стрейч прозрачная" help="help" meta="30 руб. за 1 м."}}}
    </div>
    <div class="form__field">
      {{{ checkbox name="safe-pack" label="Сейф пакет" help="help" meta="10 руб."}}}
    </div>
    <div class="form__field">
      {{{ checkbox name="black-film" label="Пленка стрейч черная" help="help" meta="30 руб. за 1 м."}}}
    </div>
    <div class="form__field form__field--span-2">
      {{{ checkbox name="bag-with-seal" label="Мешок полипропиленовый с пломбой" help="help" meta="50 руб. - 180 руб."}}}
    </div>
  </section>
  <div class="form__section">
    <label class="form__label form__label--lg">Дополнительные услуги</label>
    <div class="form__field">
      {{{ radio name="add-services" label="Страхования" help="help" }}}
    </div>
    <div class="form__field">
      {{{ radio name="add-services" label="СМС-уведомления отправителю" help="help" }}}
    </div>
    <div class="form__field">
      {{{ radio name="add-services" label="СМС-уведомления получателю" help="help" }}}
    </div>
  </div>
  {{{ btn text="Рассчитать стоимость" }}}
</form>
