<!doctype html>
<html class="no-js page" lang="en">
  {{> head}}
<body>
{{> page-header}}
<main class="page__inner">
  <a href="#" class="page__go-back" onclick="window.history.back()"><span>Назад к личному кабинету</span></a>
  <h1 class="page__title">{{{title}}}</h1>
  {{> body}}
</main>
{{> page-footer}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy38NKqY0dEc4P0rKJHvB5skmvNiFPNk0&&region=RUS&language=ru"></script>
<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
